/**
 * Created by gaoqingli on 2018/3/30.
 */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
.jc-select {
  font-family: '\5FAE\8F6F\96C5\9ED1', '\5B8B\4F53', 'tahoma', 'arial';
  font-size: 12px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  position: relative;
}
.jc-select ul,
.jc-select ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.jc-select > ul > li > a {
  padding: 0;
  background-color: #fff;
}
.jc-select-arrow {
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 50%;
  right: 11px;
  line-height: 1;
  margin-top: -5px;
  transform-origin: 50% 50%;
  color: rgba(0, 0, 0, 0.25);
  font-size: 10px;
}
.jc-select-arrow:before {
  display: block;
  font-family: jcicon !important;
}
.jc-select-arrow * {
  display: none;
}
.jc-select-arrow:before {
  content: '\E837';
  transition: transform .3s;
}
.jc-select-selection {
  outline: none;
  user-select: none;
  box-sizing: border-box;
  display: block;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  border-top-width: 1.02px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.jc-select-selection:hover {
  border-color: #40a9ff;
}
.jc-select-focused .jc-select-selection,
.jc-select-selection:focus,
.jc-select-selection:active {
  border-color: #40a9ff;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
.jc-select-selection__clear {
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
  opacity: 0;
  position: absolute;
  right: 11px;
  z-index: 1;
  background: #fff;
  top: 50%;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.25);
  width: 12px;
  height: 12px;
  margin-top: -6px;
  line-height: 12px;
  cursor: pointer;
  transition: color 0.3s ease, opacity 0.15s ease;
}
.jc-select-selection__clear:before {
  display: block;
  font-family: jcicon;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E87B";
}
.jc-select-selection__clear:hover {
  color: rgba(0, 0, 0, 0.45);
}
.jc-select-selection:hover .jc-select-selection__clear {
  opacity: 1;
}
.jc-select-selection-selected-value {
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  padding-right: 20px;
}
.jc-select-disabled {
  color: rgba(0, 0, 0, 0.25);
}
.jc-select-disabled .jc-select-selection {
  background: #f5f5f5;
  cursor: not-allowed;
}
.jc-select-disabled .jc-select-selection:hover,
.jc-select-disabled .jc-select-selection:focus,
.jc-select-disabled .jc-select-selection:active {
  border-color: #d9d9d9;
  box-shadow: none;
}
.jc-select-disabled .jc-select-selection__clear {
  display: none;
  visibility: hidden;
  pointer-events: none;
}
.jc-select-disabled .jc-select-selection--multiple .jc-select-selection__choice {
  background: #f5f5f5;
  color: #aaa;
  padding-right: 10px;
}
.jc-select-disabled .jc-select-selection--multiple .jc-select-selection__choice__remove {
  display: none;
}
.jc-select-selection--single {
  height: 28px;
  position: relative;
  cursor: pointer;
}
.jc-select-selection__rendered {
  display: block;
  margin-left: 11px;
  margin-right: 11px;
  position: relative;
  line-height: 26px;
}
.jc-select-selection__rendered:after {
  content: '.';
  visibility: hidden;
  pointer-events: none;
  display: inline-block;
  width: 0;
}
.jc-select-lg {
  font-size: 14px;
}
.jc-select-lg .jc-select-selection--single {
  height: 32px;
}
.jc-select-lg .jc-select-selection__rendered {
  line-height: 30px;
}
.jc-select-lg .jc-select-selection--multiple {
  min-height: 32px;
}
.jc-select-lg .jc-select-selection--multiple .jc-select-selection__rendered li {
  height: 24px;
  line-height: 24px;
}
.jc-select-lg .jc-select-selection--multiple .jc-select-selection__clear {
  top: 16px;
}
.jc-select-sm .jc-select-selection--single {
  height: 22px;
}
.jc-select-sm .jc-select-selection__rendered {
  line-height: 20px;
  margin: 0 7px;
}
.jc-select-sm .jc-select-selection--multiple {
  min-height: 22px;
}
.jc-select-sm .jc-select-selection--multiple .jc-select-selection__rendered li {
  height: 14px;
  line-height: 12px;
}
.jc-select-sm .jc-select-selection--multiple .jc-select-selection__clear {
  top: 11px;
}
.jc-select-sm .jc-select-selection__clear,
.jc-select-sm .jc-select-arrow {
  right: 8px;
}
.jc-select-disabled .jc-select-selection__choice__remove {
  color: rgba(0, 0, 0, 0.25);
  cursor: default;
}
.jc-select-disabled .jc-select-selection__choice__remove:hover {
  color: rgba(0, 0, 0, 0.25);
}
.jc-select-search__field__wrap {
  display: inline-block;
  position: relative;
}
.jc-select-selection__placeholder,
.jc-select-search__field__placeholder {
  position: absolute;
  top: 50%;
  left: 0;
  right: 9px;
  color: #bfbfbf;
  line-height: 20px;
  height: 20px;
  max-width: 100%;
  margin-top: -10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}
.jc-select-search__field__placeholder {
  left: 12px;
}
.jc-select-search__field__mirror {
  position: absolute;
  top: 0;
  left: -9999px;
  white-space: pre;
  pointer-events: none;
}
.jc-select-search--inline {
  position: absolute;
  height: 100%;
  width: 100%;
}
.jc-select-search--inline .jc-select-search__field__wrap {
  width: 100%;
  height: 100%;
}
.jc-select-search--inline .jc-select-search__field {
  border-width: 0;
  font-size: 100%;
  height: 100%;
  width: 100%;
  background: transparent;
  outline: 0;
  border-radius: 4px;
  line-height: 1;
}
.jc-select-search--inline > i {
  float: right;
}
.jc-select-selection--multiple {
  min-height: 28px;
  cursor: text;
  padding-bottom: 3px;
  zoom: 1;
}
.jc-select-selection--multiple:before,
.jc-select-selection--multiple:after {
  content: ' ';
  display: table;
}
.jc-select-selection--multiple:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.jc-select-selection--multiple .jc-select-search--inline {
  float: left;
  position: static;
  width: auto;
  padding: 0;
  max-width: 100%;
}
.jc-select-selection--multiple .jc-select-search--inline .jc-select-search__field {
  max-width: 100%;
  width: 0.75em;
}
.jc-select-selection--multiple .jc-select-selection__rendered {
  margin-left: 5px;
  margin-bottom: -3px;
  height: auto;
}
.jc-select-selection--multiple .jc-select-selection__placeholder {
  margin-left: 6px;
}
.jc-select-selection--multiple > ul > li,
.jc-select-selection--multiple .jc-select-selection__rendered > ul > li {
  margin-top: 3px;
  height: 20px;
  line-height: 18px;
}
.jc-select-selection--multiple .jc-select-selection__choice {
  color: rgba(0, 0, 0, 0.65);
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  cursor: default;
  float: left;
  margin-right: 4px;
  max-width: 99%;
  position: relative;
  overflow: hidden;
  transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0 20px 0 10px;
}
.jc-select-selection--multiple .jc-select-selection__choice__disabled {
  padding: 0 10px;
}
.jc-select-selection--multiple .jc-select-selection__choice__content {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  transition: margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.jc-select-selection--multiple .jc-select-selection__choice__remove {
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.45);
  line-height: inherit;
  cursor: pointer;
  font-weight: bold;
  transition: all .3s;
  font-size: 10px;
  display: inline-block;
  font-size: 12px;
  font-size: 10px \9;
  transform: scale(0.83333333) rotate(0deg);
  position: absolute;
  right: 4px;
}
.jc-select-selection--multiple .jc-select-selection__choice__remove:before {
  display: block;
  font-family: jcicon !important;
}
:root .jc-select-selection--multiple .jc-select-selection__choice__remove {
  font-size: 10px;
}
.jc-select-selection--multiple .jc-select-selection__choice__remove:hover {
  color: #404040;
}
.jc-select-selection--multiple .jc-select-selection__choice__remove:before {
  content: "\E878";
}
.jc-select-selection--multiple .jc-select-selection__clear {
  top: 14px;
}
.jc-select-allow-clear .jc-select-selection--multiple .jc-select-selection__rendered {
  margin-right: 20px;
}
.jc-select-open .jc-select-arrow:before {
  transform: rotate(180deg);
}
.jc-select-open .jc-select-selection {
  border-color: #40a9ff;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
.jc-select-combobox .jc-select-arrow {
  display: none;
}
.jc-select-combobox .jc-select-search--inline {
  height: 100%;
  width: 100%;
  float: none;
}
.jc-select-combobox .jc-select-search__field__wrap {
  width: 100%;
  height: 100%;
}
.jc-select-combobox .jc-select-search__field {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-shadow: none;
}
.jc-select-combobox.jc-select-allow-clear .jc-select-selection:hover .jc-select-selection__rendered {
  margin-right: 20px;
}
.jc-select-dropdown {
  font-family: '\5FAE\8F6F\96C5\9ED1', '\5B8B\4F53', 'tahoma', 'arial';
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 1050;
  left: -9999px;
  top: -9999px;
  position: absolute;
  outline: none;
  font-size: 12px;
}
.jc-select-dropdown.slide-up-enter.slide-up-enter-active.jc-select-dropdown-placement-bottomLeft,
.jc-select-dropdown.slide-up-appear.slide-up-appear-active.jc-select-dropdown-placement-bottomLeft {
  animation-name: jcSlideUpIn;
}
.jc-select-dropdown.slide-up-enter.slide-up-enter-active.jc-select-dropdown-placement-topLeft,
.jc-select-dropdown.slide-up-appear.slide-up-appear-active.jc-select-dropdown-placement-topLeft {
  animation-name: jcSlideDownIn;
}
.jc-select-dropdown.slide-up-leave.slide-up-leave-active.jc-select-dropdown-placement-bottomLeft {
  animation-name: jcSlideUpOut;
}
.jc-select-dropdown.slide-up-leave.slide-up-leave-active.jc-select-dropdown-placement-topLeft {
  animation-name: jcSlideDownOut;
}
.jc-select-dropdown-hidden {
  display: none;
}
.jc-select-dropdown-menu {
  outline: none;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  max-height: 250px;
  overflow: auto;
}
.jc-select-dropdown-menu-item-group-list {
  margin: 0;
  padding: 0;
}
.jc-select-dropdown-menu-item-group-list > .jc-select-dropdown-menu-item {
  padding-left: 20px;
}
.jc-select-dropdown-menu-item-group-title {
  color: rgba(0, 0, 0, 0.45);
  padding: 0 12px;
  height: 32px;
  line-height: 32px;
  font-size: 10px;
}
.jc-select-dropdown-menu-item {
  position: relative;
  display: block;
  padding: 5px 12px;
  line-height: 22px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.65);
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background 0.3s ease;
}
.jc-select-dropdown-menu-item:hover {
  background-color: #e6f7ff;
}
.jc-select-dropdown-menu-item:first-child {
  border-radius: 4px 4px 0 0;
}
.jc-select-dropdown-menu-item:last-child {
  border-radius: 0 0 4px 4px;
}
.jc-select-dropdown-menu-item-disabled {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
.jc-select-dropdown-menu-item-disabled:hover {
  color: rgba(0, 0, 0, 0.25);
  background-color: #fff;
  cursor: not-allowed;
}
.jc-select-dropdown-menu-item-selected,
.jc-select-dropdown-menu-item-selected:hover {
  background-color: #fafafa;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
}
.jc-select-dropdown-menu-item-active {
  background-color: #e6f7ff;
}
.jc-select-dropdown-menu-item-divider {
  height: 1px;
  margin: 1px 0;
  overflow: hidden;
  background-color: #e8e8e8;
  line-height: 0;
}
.jc-select-dropdown.jc-select-dropdown--multiple .jc-select-dropdown-menu-item:after {
  font-family: jcicon;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E880";
  color: transparent;
  display: inline-block;
  font-size: 12px;
  font-size: 10px \9;
  transform: scale(0.83333333) rotate(0deg);
  transition: all 0.2s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  font-weight: bold;
  text-shadow: 0 0.1px 0, 0.1px 0 0, 0 -0.1px 0, -0.1px 0;
}
:root .jc-select-dropdown.jc-select-dropdown--multiple .jc-select-dropdown-menu-item:after {
  font-size: 10px;
}
.jc-select-dropdown.jc-select-dropdown--multiple .jc-select-dropdown-menu-item:hover:after {
  color: #ddd;
}
.jc-select-dropdown.jc-select-dropdown--multiple .jc-select-dropdown-menu-item-disabled:after {
  display: none;
}
.jc-select-dropdown.jc-select-dropdown--multiple .jc-select-dropdown-menu-item-selected:after,
.jc-select-dropdown.jc-select-dropdown--multiple .jc-select-dropdown-menu-item-selected:hover:after {
  color: #1890ff;
  display: inline-block;
}
.jc-select-dropdown-container-open .jc-select-dropdown,
.jc-select-dropdown-open .jc-select-dropdown {
  display: block;
}

/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
@keyframes jcCheckboxEffect {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
.jc-checkbox {
  font-family: '\5FAE\8F6F\96C5\9ED1', '\5B8B\4F53', 'tahoma', 'arial';
  font-size: 12px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  display: inline-block;
  line-height: 1;
  position: relative;
  vertical-align: middle;
  top: -0.09em;
}
.jc-checkbox-wrapper:hover .jc-checkbox-inner,
.jc-checkbox:hover .jc-checkbox-inner,
.jc-checkbox-input:focus + .jc-checkbox-inner {
  border-color: #1890ff;
}
.jc-checkbox-checked:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  border: 1px solid #1890ff;
  content: '';
  animation: jcCheckboxEffect 0.36s ease-in-out;
  animation-fill-mode: both;
  visibility: hidden;
}
.jc-checkbox:hover:after,
.jc-checkbox-wrapper:hover .jc-checkbox:after {
  visibility: visible;
}
.jc-checkbox-inner {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  background-color: #fff;
  transition: all .3s;
}
.jc-checkbox-inner:after {
  transform: rotate(45deg) scale(0);
  position: absolute;
  left: 4.57142857px;
  top: 1.14285714px;
  display: table;
  width: 5.71428571px;
  height: 9.14285714px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  content: ' ';
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6);
}
.jc-checkbox-input {
  position: absolute;
  left: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.jc-checkbox-ghost.jc-checkbox-checked .jc-checkbox-inner {
  background: transparent;
}
.jc-checkbox-ghost.jc-checkbox-checked .jc-checkbox-inner:after {
  border-color: #1890ff;
}
.jc-checkbox-ghost.jc-checkbox-indeterminate .jc-checkbox-inner {
  background: transparent;
}
.jc-checkbox-ghost.jc-checkbox-indeterminate .jc-checkbox-inner:after {
  border-color: #1890ff;
}
.jc-checkbox-indeterminate .jc-checkbox-inner:after {
  content: ' ';
  transform: scale(1);
  position: absolute;
  left: 2.42857143px;
  top: 6.42857143px;
  width: 9.14285714px;
  height: 1.14285714px;
}
.jc-checkbox-indeterminate.jc-checkbox-disabled .jc-checkbox-inner:after {
  border-color: rgba(0, 0, 0, 0.25);
}
.jc-checkbox-checked .jc-checkbox-inner:after {
  transform: rotate(45deg) scale(1);
  position: absolute;
  display: table;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  content: ' ';
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}
.jc-checkbox-checked .jc-checkbox-inner,
.jc-checkbox-indeterminate .jc-checkbox-inner {
  background-color: #1890ff;
  border-color: #1890ff;
}
.jc-checkbox-disabled {
  cursor: not-allowed;
}
.jc-checkbox-disabled.jc-checkbox-checked .jc-checkbox-inner:after {
  animation-name: none;
  border-color: rgba(0, 0, 0, 0.25);
}
.jc-checkbox-disabled .jc-checkbox-input {
  cursor: not-allowed;
}
.jc-checkbox-disabled .jc-checkbox-inner {
  border-color: #d9d9d9 !important;
  background-color: #f5f5f5;
}
.jc-checkbox-disabled .jc-checkbox-inner:after {
  animation-name: none;
  border-color: #f5f5f5;
}
.jc-checkbox-disabled + span {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
.jc-checkbox-wrapper {
  font-family: '\5FAE\8F6F\96C5\9ED1', '\5B8B\4F53', 'tahoma', 'arial';
  font-size: 12px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: unset;
  cursor: pointer;
  display: inline-block;
}
.jc-checkbox-wrapper + .jc-checkbox-wrapper {
  margin-left: 8px;
}
.jc-checkbox-wrapper + span,
.jc-checkbox + span {
  padding: 0px 8px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 12px;
}
.jc-checkbox-group {
  font-family: '\5FAE\8F6F\96C5\9ED1', '\5B8B\4F53', 'tahoma', 'arial';
  font-size: 12px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.jc-checkbox-group-item {
  display: inline-block;
  margin-right: 8px;
}
.jc-checkbox-group-item:last-child {
  margin-right: 0;
}
.jc-checkbox-group-item + .jc-checkbox-group-item {
  margin-left: 0;
}

.table-bordered{
    border: 1px solid #e9e9e9;
    border-radius: 4px 4px 0 0;
}
.table-bordered .jc-checkbox-wrapper + .jc-checkbox-wrapper{
    margin-left: 0px !important;
    margin-right: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.h3-title{
    font-size: 14px;
    margin: 20px 0px 0px;
    color: rgba(0,0,0,.65);
}
.table-bordered .jc-table-thead > tr > th{
    font-weight: 600;
}

.otherMt202 {
    margin-top: 10px;
  }

  .smallColor {
    color: #999;
    font-size: 12px;
  }

  .marginL5{
    margin-right: 5px;
  }

  .smaillest {
    margin-right: 5px;
    line-height: 32px;
  }

  .statement {
    float: left;
  }

.mlgroup .jc-radio-group{
    margin-left: 11px;
  }

  .elseInfo .jc-input{
    width: 90%;
  }

  .elseInfo .smallColor{
    float: left;
  }

  .delivery-check{
    margin-left: 15px;
  }

/*# sourceMappingURL=25-c934f9a26c570ef582ce.css.map*/