/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
/* function */
.f-cb:after,
.f-cbli li:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.f-cb,
.f-cbli li {
  zoom: 1;
}
.f-ib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.f-dn {
  display: none;
}
.f-db {
  display: block;
}
.f-fl {
  float: left;
}
.f-fr {
  float: right;
}
.f-pr {
  position: relative;
}
.f-prz {
  position: relative;
  zoom: 1;
}
.f-oh {
  overflow: hidden;
}
.f-fs12 {
  font-size: 12px;
}
.f-fs14 {
  font-size: 14px;
}
.f-fs16 {
  font-size: 16px;
}
.f-fs18 {
  font-size: 18px;
}
.f-fs20 {
  font-size: 20px;
}
.f-fs22 {
  font-size: 22px;
}
.f-fs24 {
  font-size: 24px;
}
.f-fs26 {
  font-size: 26px;
}
.f-fwn {
  font-weight: normal;
}
.f-fwb {
  font-weight: bold;
}
.f-tal {
  text-align: left;
}
.f-tac {
  text-align: center;
}
.f-tar {
  text-align: right;
}
.f-taj {
  text-align: justify;
  text-justify: inter-ideograph;
}
.f-vam,
.f-vama * {
  vertical-align: middle;
}
.f-wsn {
  word-wrap: normal;
  white-space: nowrap;
}
.f-pre {
  overflow: hidden;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}
.f-wwb {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}
.f-ti {
  overflow: hidden;
  text-indent: -30000px;
}
.f-ti2 {
  text-indent: 2em;
}
.f-lhn {
  line-height: normal;
}
.f-tdu,
.f-tdu:hover {
  text-decoration: underline;
}
.f-tdn,
.f-tdn:hover {
  text-decoration: none;
}
.f-toe {
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.f-csp {
  cursor: pointer;
}
.f-csd {
  cursor: default;
}
.f-csh {
  cursor: help;
}
.f-csm {
  cursor: move;
}
.f-usn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.m5 {
  margin: 5px;
}
.m10 {
  margin: 10px;
}
.m15 {
  margin: 15px;
}
.m20 {
  margin: 20px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}
.p15 {
  padding: 15px;
}
.p20 {
  padding: 20px;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
/* buyer,shop,platform公用样式 */
.bgf7 {
  background: #f7f7f7;
}
.brd9 {
  border: 1px solid #d9d9d9;
}
.text-333 {
  color: #333;
}
.text-666 {
  color: #666;
}
.text-999 {
  color: #999;
}
.text-bbb {
  color: #999;
}
.text-red {
  color: #e4393c;
}
.text-buyer {
  color: #e43636;
}
.text-shop,
.text-platform {
  color: #009afe;
}
.bg-buyer {
  background: #e43636;
}
.bg-shop,
.bg-platform {
  background: #009afe;
}
.br-buyer {
  border-color: #e43636;
}
.br-shop,
.br-platform {
  border-color: #009afe;
}
.text-success {
  color: #78af30;
}
.text-warning {
  color: #ec9f00;
}
.text-error {
  color: #d76461;
}
.text-disabled {
  color: #999;
}
.bg-success {
  background: #78af30;
}
.bg-warning {
  background: #ec9f00;
}
.bg-error {
  background: #d76461;
}
.bg-disabled {
  background: #999;
}
.tips-success {
  border: 1px solid #78af30;
  background: #f1f7ea;
  color: #78af30;
  padding: 15px;
}
.tips-warning {
  border: 1px solid #ec9f00;
  background: #fffdf1;
  color: #ec9f00;
  padding: 15px;
}
.tips-error {
  border: 1px solid #d76461;
  background: #fbefef;
  color: #d76461;
  padding: 15px;
}
.ui-buyer a.text-link,
.ui-shop a.text-link,
.ui-platform a.text-link {
  color: #009afe;
}
.ui-buyer a.text-link:hover,
.ui-shop a.text-link:hover,
.ui-platform a.text-link:hover,
.ui-buyer a.text-link:active,
.ui-shop a.text-link:active,
.ui-platform a.text-link:active {
  color: #228ccc;
}
.ui-buyer .jc-btn:focus,
.ui-buyer .jc-btn:hover {
  color: #fe3333;
  border-color: #fe3333;
}
.ui-buyer .jc-btn-primary {
  background-color: #e43636;
  border-color: #e43636;
  color: #fff;
}
.ui-buyer .jc-btn-primary:focus,
.ui-buyer .jc-btn-primary:hover {
  color: #fff;
  background-color: #fe3333;
  border-color: #fe3333;
}
.ui-shop .jc-btn:focus,
.ui-shop .jc-btn:hover,
.ui-platform .jc-btn:focus,
.ui-platform .jc-btn:hover {
  color: #33aefe;
  border-color: #33aefe;
}
.ui-shop .jc-btn-primary,
.ui-platform .jc-btn-primary {
  background-color: #009afe;
  border-color: #009afe;
  color: #fff;
}
.ui-shop .jc-btn-primary:focus,
.ui-shop .jc-btn-primary:hover,
.ui-platform .jc-btn-primary:focus,
.ui-platform .jc-btn-primary:hover {
  color: #fff;
  background-color: #33aefe;
  border-color: #33aefe;
}
.ui-buyer .jc-btn-background-ghost.jc-btn-primary {
  color: #e43636;
  border-color: #e43636;
  background-color: transparent;
}
.ui-buyer .jc-btn-background-ghost.jc-btn-primary:focus,
.ui-buyer .jc-btn-background-ghost.jc-btn-primary:hover {
  color: #fe3333;
  border-color: #fe3333;
  background-color: transparent;
}
.ui-shop .jc-btn-background-ghost.jc-btn-primary,
.ui-platform .jc-btn-background-ghost.jc-btn-primary {
  color: #009afe;
  border-color: #009afe;
  background-color: transparent;
}
.ui-shop .jc-btn-background-ghost.jc-btn-primary:focus,
.ui-shop .jc-btn-background-ghost.jc-btn-primary:hover,
.ui-platform .jc-btn-background-ghost.jc-btn-primary:focus,
.ui-platform .jc-btn-background-ghost.jc-btn-primary:hover {
  color: #33aefe;
  border-color: #33aefe;
  background-color: transparent;
}
.ui-shop .jc-pagination-item-active,
.ui-platform .jc-pagination-item-active {
  background-color: #009afe;
  border-color: #009afe;
}
.ui-buyer .jc-pagination-item-active {
  background-color: #e43636;
  border-color: #e43636;
}
.ui-shop .jc-pagination-item:hover,
.ui-platform .jc-pagination-item:hover {
  border-color: #009afe;
}
.ui-shop .jc-pagination-item:hover a,
.ui-platform .jc-pagination-item:hover a {
  color: #009afe;
}
.ui-buyer .jc-pagination-item:hover {
  border-color: #e43636;
}
.ui-buyer .jc-pagination-item:hover a {
  color: #e43636;
}
.ui-buyer .jc-pagination-prev:hover,
.ui-buyer .jc-pagination-next:hover {
  border-color: #e43636;
}
.ui-shop .jc-pagination-prev:hover,
.ui-shop .jc-pagination-next:hover,
.ui-platform .jc-pagination-prev:hover,
.ui-platform .jc-pagination-next:hover {
  border-color: #009afe;
}
.ui-buyer .jc-pagination-item-active a,
.ui-buyer .jc-pagination-item-active:hover a,
.ui-shop .jc-pagination-item-active a,
.ui-shop .jc-pagination-item-active:hover a,
.ui-platform .jc-pagination-item-active a,
.ui-platform .jc-pagination-item-active:hover a {
  color: #fff;
}
.ui-buyer .jc-modal-header,
.ui-shop .jc-modal-header,
.ui-platform .jc-modal-header {
  background: #f7f7f7;
}
.ui-buyer .jc-modal-footer,
.ui-shop .jc-modal-footer,
.ui-platform .jc-modal-footer {
  background: #f7f7f7;
}
.ui-buyer .jc-table,
.ui-shop .jc-table,
.ui-platform .jc-table {
  color: #333;
}
.ui-buyer .jc-table-tbody > tr > td,
.ui-shop .jc-table-tbody > tr > td,
.ui-platform .jc-table-tbody > tr > td {
  padding: 12px 8px;
}
.ui-buyer .jc-table-thead > tr > th,
.ui-shop .jc-table-thead > tr > th,
.ui-platform .jc-table-thead > tr > th {
  padding: 11px 8px;
  border-bottom: 1px solid #e5e5e5;
  color: #666;
}
.ui-buyer .jc-form-item-label label,
.ui-shop .jc-form-item-label label,
.ui-platform .jc-form-item-label label {
  color: #999;
}
.ui-buyer .jc-input,
.ui-shop .jc-input,
.ui-platform .jc-input {
  color: #333;
}
.ui-buyer .jc-input-lg,
.ui-shop .jc-input-lg,
.ui-platform .jc-input-lg {
  font-size: 12px;
}
.ui-buyer .jc-select,
.ui-shop .jc-select,
.ui-platform .jc-select {
  color: #333;
}
.ui-buyer .jc-btn-primary.disabled,
.ui-shop .jc-btn-primary.disabled,
.ui-platform .jc-btn-primary.disabled,
.ui-buyer .jc-btn-primary.disabled.active,
.ui-shop .jc-btn-primary.disabled.active,
.ui-platform .jc-btn-primary.disabled.active,
.ui-buyer .jc-btn-primary.disabled:active,
.ui-shop .jc-btn-primary.disabled:active,
.ui-platform .jc-btn-primary.disabled:active,
.ui-buyer .jc-btn-primary.disabled:focus,
.ui-shop .jc-btn-primary.disabled:focus,
.ui-platform .jc-btn-primary.disabled:focus,
.ui-buyer .jc-btn-primary.disabled:hover,
.ui-shop .jc-btn-primary.disabled:hover,
.ui-platform .jc-btn-primary.disabled:hover,
.ui-buyer .jc-btn-primary[disabled],
.ui-shop .jc-btn-primary[disabled],
.ui-platform .jc-btn-primary[disabled],
.ui-buyer .jc-btn-primary[disabled].active,
.ui-shop .jc-btn-primary[disabled].active,
.ui-platform .jc-btn-primary[disabled].active,
.ui-buyer .jc-btn-primary[disabled]:active,
.ui-shop .jc-btn-primary[disabled]:active,
.ui-platform .jc-btn-primary[disabled]:active,
.ui-buyer .jc-btn-primary[disabled]:focus,
.ui-shop .jc-btn-primary[disabled]:focus,
.ui-platform .jc-btn-primary[disabled]:focus,
.ui-buyer .jc-btn-primary[disabled]:hover,
.ui-shop .jc-btn-primary[disabled]:hover,
.ui-platform .jc-btn-primary[disabled]:hover {
  color: rgba(0, 0, 0, 0.25) !important;
  background-color: #f7f7f7 !important;
  border-color: #d9d9d9 !important;
}
.ui-buyer .jc-tabs-nav .jc-tabs-tab:hover {
  color: #e43636;
}
.ui-buyer .jc-tabs-nav .jc-tabs-tab:active {
  color: #e43636;
}
.ui-buyer .jc-tabs-nav .jc-tabs-tab-active {
  color: #e43636;
}
.ui-buyer .jc-tabs-ink-bar {
  background: #e43636;
}
.ui-shop .jc-tabs-nav .jc-tabs-tab:hover,
.ui-platform .jc-tabs-nav .jc-tabs-tab:hover {
  color: #009afe;
}
.ui-shop .jc-tabs-nav .jc-tabs-tab:active,
.ui-platform .jc-tabs-nav .jc-tabs-tab:active {
  color: #009afe;
}
.ui-shop .jc-tabs-nav .jc-tabs-tab-active,
.ui-platform .jc-tabs-nav .jc-tabs-tab-active {
  color: #009afe;
}
.ui-shop .jc-tabs-ink-bar,
.ui-platform .jc-tabs-ink-bar {
  background: #009afe;
}
/* jc-common */
.ui-container {
  width: 100%;
  position: relative;
  background: #f4f4f4;
  padding: 0 10px;
  min-height: 700px;
}
.ui-breadcrumb {
  line-height: 44px;
}
.ui-ct {
  border: 1px solid #ececec;
}
.ui-hd {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #666;
  background: #fafafa;
  padding-left: 15px;
}
.ui-bd {
  padding: 16px;
  background: #fff;
}
.ui-search {
  background: #f7f7f7;
  padding: 16px 0 4px 0;
}
.ui-search .jc-form-inline .jc-form-item {
  margin-bottom: 10px;
}
.ui-search .r-action {
  position: absolute;
  right: 16px;
  top: 0;
  bottom: 12px;
  width: 96px;
  border-left: 1px dotted #ccc;
}
.ui-search .r-action button {
  position: absolute;
  left: 16px;
  top: 50%;
  margin-top: -16px;
  width: 78px;
}
.ui-search .jc-form {
  padding-right: 130px;
}
.ui-search .jc-form-item-label {
  min-width: 80px;
  margin-left: 10px;
}
.tbl-top-action {
  height: 50px;
  padding: 11px 15px;
  border: 1px solid #e5e5e5;
  border-bottom: 0;
  background: #f7f7f7;
}
.tbl-top-action .jc-btn-ghost {
  background: #fff;
}
.ui-tbl {
  border: 1px solid #e5e5e5;
  border-bottom: none;
}
.ui-tbl .jc-pagination-options {
  margin-right: 16px;
}
.brand-br {
  display: block;
  width: 104px;
  height: 59px;
  border: 1px solid #e5e5e5;
}
.jc-spin-container:after {
  clear: both;
  content: ' ';
  display: block;
}
@font-face {
  font-family: "jcicon";
  src: url(/operating-item-view/79d2cc32f5b7d49f0ee5707eae561eba.eot);
  /* IE9*/
  src: url(/operating-item-view/79d2cc32f5b7d49f0ee5707eae561eba.eot?#iefix) format('embedded-opentype'),  url(/operating-item-view/63da61f241b0fbadc7e541375efac08f.woff) format('woff'),  url(/operating-item-view/8906e97bd4692531529d50bcc4894dbc.ttf) format('truetype'),  url(/operating-item-view/9cc16bddc45ce4630f6c869acfd97022.svg#iconfont) format('svg');
  /* iOS 4.1- */
}
.jcicon-wx:before {
  content: "\A60A";
}
.jcicon-qq:before {
  content: "\A61A";
}
.jcicon-new-edit:before {
  content: "\A602";
}
.jcicon-new-delete:before {
  content: "\A603";
}
.jcicon-new-ad:before {
  content: "\A604";
}
.jcicon-new-show:before {
  content: "\A605";
}
.jcicon-new-hide:before {
  content: "\A606";
}
.jcicon-xxwd:before {
  content: "\A62C";
}
.jcicon-xxyd:before {
  content: "\A62D";
}
.jcicon-xiayi:before {
  content: "\A62E";
}
.jcicon-shangyi:before {
  content: "\A62F";
}
.jcicon-zhidi:before {
  content: "\A630";
}
.jcicon-zhiding:before {
  content: "\A631";
}
.jcicon-cgs:before {
  content: "\A673";
}
.jcicon-ggcs:before {
  content: "\A674";
}
.jcicon-fl:before {
  content: "\A675";
}
.jcicon-pp:before {
  content: "\A676";
}
.jcicon-xx:before {
  content: "\A677";
}
.jcicon-gys:before {
  content: "\A678";
}
.jcicon-gysrz4:before {
  content: "\A67C";
}
.jcicon-gysrz3:before {
  content: "\A67D";
}
.jcicon-gysrz1:before {
  content: "\A67E";
}
.jcicon-gysrz2:before {
  content: "\A67F";
}
.jcicon-spk:before {
  content: "\A684";
}
.jcicon-spfb:before {
  content: "\A685";
}
.jcicon-xxsp:before {
  content: "\A686";
}
.jcicon-ghsqsh:before {
  content: "\A687";
}
.jcicon-dd:before {
  content: "\A688";
}
.jcicon-cgd:before {
  content: "\A689";
}
.jcicon-bjd:before {
  content: "\A68A";
}
.jcicon-tzgyssx:before {
  content: "\A68B";
}
.jcicon-pw-show:before {
  content: "\A69D";
}
.jcicon-pw-hide:before {
  content: "\A69E";
}
.jcicon-new-icon1:before {
  content: "\A6AB";
}
.jcicon-new-icon2:before {
  content: "\A6AC";
}
.jcicon-new-icon3:before {
  content: "\A6AD";
}
.jcicon-new-icon4:before {
  content: "\A6AE";
}
.jcicon-new-icon5:before {
  content: "\A6AF";
}
.jcicon-new-icon6:before {
  content: "\A6B0";
}
.jcicon-new-icon7:before {
  content: "\A6B1";
}
.jcicon-new-icon8:before {
  content: "\A6B2";
}
.jcicon-new-icon9:before {
  content: "\A6B3";
}
.jcicon-new-icon31:before {
  content: "\A6B4";
}
.jcicon-new-icon10:before {
  content: "\A6B5";
}
.jcicon-new-icon11:before {
  content: "\A6B6";
}
.jcicon-new-icon12:before {
  content: "\A6B7";
}
.jcicon-new-icon13:before {
  content: "\A6B8";
}
.jcicon-new-icon14:before {
  content: "\A6B9";
}
.jcicon-new-icon15:before {
  content: "\A6BA";
}
.jcicon-new-icon16:before {
  content: "\A6BB";
}
.jcicon-new-tel:before {
  content: "\A6C1";
}
.jcicon-new-feedback:before {
  content: "\A6C2";
}
.jcicon-new-service:before {
  content: "\A6C3";
}
.jcicon-new-icon30:before {
  content: "\A6C7";
}
.jcicon-new-icon17:before {
  content: "\A6C8";
}
.jcicon-new-icon18:before {
  content: "\A6C9";
}
.jcicon-new-icon19:before {
  content: "\A6CA";
}
.jcicon-new-icon20:before {
  content: "\A6CB";
}
.jcicon-new-icon21:before {
  content: "\A6CD";
}
.jcicon-new-icon22:before {
  content: "\A6CE";
}
.jcicon-new-icon23:before {
  content: "\A6D1";
}
.jcicon-new-icon24:before {
  content: "\A6D2";
}
.jcicon-new-icon25:before {
  content: "\A6D3";
}
.jcicon-new-icon26:before {
  content: "\A6D4";
}
.jcicon-new-icon27:before {
  content: "\A6D5";
}
.jcicon-new-icon28:before {
  content: "\A6D6";
}
.jcicon-new-rebate:before {
  content: "\A6D7";
}
.jcicon-new-shop:before {
  content: "\A6D8";
}
.jcicon-new-transfer:before {
  content: "\A6D9";
}
.jcicon-new-buyer:before {
  content: "\A6DA";
}
.jcicon-new-cart:before {
  content: "\A6DB";
}
.jcicon-new-gps:before {
  content: "\A6DC";
}
.jcicon-new-phone:before {
  content: "\A6DD";
}
.jcicon-new-home:before {
  content: "\A6DE";
}
.jcicon-new-phone2:before {
  content: "\A6DF";
}
.jcicon-new-icon29:before {
  content: "\A6E7";
}
.jcicon-new-icon32:before {
  content: "\A6EC";
}
.jcicon-new-icon33:before {
  content: "\A6ED";
}
.jcicon-new-icon34:before {
  content: "\A6EE";
}
.jcicon-new-icon35:before {
  content: "\A6EF";
}
.jcicon-new-icon36:before {
  content: "\A6F0";
}
.jcicon-new-icon37:before {
  content: "\A6F1";
}
.jcicon-new-icon38:before {
  content: "\A6F2";
}
.jcicon-new-icon39:before {
  content: "\A6F3";
}
.jcicon-new-icon40:before {
  content: "\A6F4";
}
.jcicon-new-icon41:before {
  content: "\A6F6";
}
.jcicon-new-icon42:before {
  content: "\A6F9";
}
.jcicon-new-icon43:before {
  content: "\A6FA";
}
.jcicon-new-icon47:before {
  content: "\A6FD";
}
.jcicon-new-icon48:before {
  content: "\A6FE";
}
.jcicon-new-icon49:before {
  content: "\A6FF";
}
.jcicon-new-icon50:before {
  content: "\A779";
}
.jcicon-new-icon51:before {
  content: "\A77A";
}
.jcicon-new-icon52:before {
  content: "\A77B";
}
.jcicon-new-icon53:before {
  content: "\A77C";
}
.jcicon-new-icon54:before {
  content: "\A77D";
}
.jcicon-new-icon55:before {
  content: "\A77E";
}
.jcicon-new-icon56:before {
  content: "\A77F";
}
.jcicon-new-icon57:before {
  content: "\A782";
}
.jcicon-new-icon58:before {
  content: "\A783";
}
.jcicon-new-icon59:before {
  content: "\A784";
}
.jcicon-new-icon60:before {
  content: "\A785";
}
.jcicon-new-icon61:before {
  content: "\A786";
}
.jcicon-new-icon62:before {
  content: "\A787";
}
.jcicon-new-icon63:before {
  content: "\A788";
}
.jcicon-new-icon64:before {
  content: "\A789";
}
.jcicon-new-icon65:before {
  content: "\A78A";
}
.jcicon-new-icon66:before {
  content: "\A78B";
}
.jcicon-new-icon67:before {
  content: "\A78C";
}
.jcicon-new-icon68:before {
  content: "\A78D";
}
.jcicon-new-icon69:before {
  content: "\A78E";
}
.jcicon-new-icon71:before {
  content: "\A78F";
}
.jcicon-new-icon72:before {
  content: "\A790";
}
.jcicon-new-icon73:before {
  content: "\A791";
}
.jcicon-new-icon74:before {
  content: "\A792";
}
.jcicon-new-icon75:before {
  content: "\A793";
}
.jcicon-new-icon76:before {
  content: "\A795";
}
.jcicon-new-icon77:before {
  content: "\A796";
}
.jcicon-new-icon78:before {
  content: "\A797";
}
.jcicon-new-icon79:before {
  content: "\A798";
}
.jcicon-new-icon80:before {
  content: "\A799";
}
.jcicon-new-icon81:before {
  content: "\A79A";
}
.jcicon-new-icon82:before {
  content: "\A7E5";
}
.jcicon-new-icon83:before {
  content: "\A7EA";
}
.jcicon-new-icon84:before {
  content: "\A7EB";
}
.jcicon-new-icon85:before {
  content: "\A7EC";
}
.jcicon-new-icon86:before {
  content: "\A7ED";
}
.jcicon-new-icon87:before {
  content: "\A7DB";
}
.jcicon-new-icon87:before {
  content: "\A7DB";
}
/*动画效果集合*/
@keyframes rotate360 {
  0% {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: 50% 50%;
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: 'jcicon';
  src: url('http://at.alicdn.com/t/font_584222_8ojzbifr7132qpvi.eot');
  /* IE9*/
  src: url('http://at.alicdn.com/t/font_584222_8ojzbifr7132qpvi.woff') format('woff'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('http://at.alicdn.com/t/font_584222_8ojzbifr7132qpvi.ttf') format('truetype'), /* iOS 4.1- */ url('http://at.alicdn.com/t/font_584222_8ojzbifr7132qpvi.svg#iconfont') format('svg');
}
.jcicon {
  margin: 0px;
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.jcicon:before {
  display: block;
  font-family: 'jcicon' !important;
}
.jcicon-spin:before {
  display: inline-block;
  animation: rotate360 1.5s infinite linear;
}
.jcicon-eey-o:before {
  content: '\E605';
}
.jcicon-eey-off-o:before {
  content: '\E606';
}
.jcicon-category-o:before {
  content: '\E617';
}
.jcicon-openmail:before {
  content: '\E62D';
}
.jcicon-cloud-share-o:before {
  content: '\E65A';
}
.jcicon-category:before {
  content: '\E673';
}
.jcicon-key-o:before {
  content: '\E67E';
}
.jcicon-windows:before {
  content: '\E682';
}
.jcicon-apple:before {
  content: '\E683';
}
.jcicon-stop-o:before {
  content: '\E685';
}
.jcicon-share:before {
  content: '\E69B';
}
.jcicon-eye-off:before {
  content: '\E69E';
}
.jcicon-voice:before {
  content: '\E6A7';
}
.jcicon-tree:before {
  content: '\E6B0';
}
.jcicon-location:before {
  content: '\E6AF';
}
.jcicon-page:before {
  content: '\E6B2';
}
.jcicon-shopping-cart:before {
  content: '\E6B6';
}
.jcicon-notification-circle:before {
  content: '\E6B7';
}
.jcicon-home-o:before {
  content: '\E6B8';
}
.jcicon-service-o:before {
  content: '\E6BA';
}
.jcicon-chat-circle:before {
  content: '\E6C2';
}
.jcicon-service-circle:before {
  content: '\E6C3';
}
.jcicon-pay-cog:before {
  content: '\E71A';
}
.jcicon-database-o:before {
  content: '\E776';
}
.jcicon-logs:before {
  content: '\E789';
}
.jcicon-user-cog:before {
  content: '\E79A';
}
.jcicon-car-o:before {
  content: '\E7A2';
}
.jcicon-calculator-o:before {
  content: '\E7AC';
}
.jcicon-replay-o:before {
  content: '\E7BE';
}
.jcicon-customer-service-o:before {
  content: '\E7BF';
}
.jcicon-shop-circle:before {
  content: '\E7C6';
}
.jcicon-list-circle:before {
  content: '\E7C7';
}
.jcicon-edit-o:before {
  content: '\E801';
}
.jcicon-bell-o:before {
  content: '\E898';
}
.jcicon-bell:before {
  content: '\E899';
}
.jcicon-bell-off:before {
  content: '\E89A';
}
.jcicon-bell-off-o:before {
  content: '\E89B';
}
.jcicon-lock-o:before {
  content: '\E89C';
}
.jcicon-unlock:before {
  content: '\E8A1';
}
.jcicon-user-square-o:before {
  content: '\E8A6';
}
.jcicon-users:before {
  content: '\E8A7';
}
.jcicon-user-circle-o:before {
  content: '\E8A8';
}
.jcicon-user-circle:before {
  content: '\E8AA';
}
.jcicon-cogs:before {
  content: '\E8AE';
}
.jcicon-cogs-o:before {
  content: '\E8AF';
}
.jcicon-cog:before {
  content: '\E8B1';
}
.jcicon-cog-o:before {
  content: '\E8B2';
}
.jcicon-cog-o1:before {
  content: '\E8B3';
}
.jcicon-cog1:before {
  content: '\E8B4';
}
.jcicon-share-alt:before {
  content: '\E8C4';
}
.jcicon-concentric-pie-chart:before {
  content: '\E8CA';
}
.jcicon-code:before {
  content: '\E8D3';
}
.jcicon-code-o:before {
  content: '\E8D7';
}
.jcicon-loading:before {
  content: '\E8DA';
}
.jcicon-loading-3-quarters:before {
  content: '\E8DB';
}
.jcicon-loading-dotted:before {
  content: '\E8DC';
}
.jcicon-step-backward:before {
  content: '\E827';
}
.jcicon-arrows-alt:before {
  content: '\E82C';
}
.jcicon-arrow-left:before {
  content: '\E84A';
}
.jcicon-arrow-right:before {
  content: '\E848';
}
.jcicon-arrow-up:before {
  content: '\E847';
}
.jcicon-backward:before {
  content: '\E8CF';
}
.jcicon-arrow-down:before {
  content: '\E849';
}
.jcicon-caret-left:before {
  content: '\E826';
}
.jcicon-caret-right:before {
  content: '\E822';
}
.jcicon-caret-down:before {
  content: '\E823';
}
.jcicon-caret-up:before {
  content: '\E821';
}
.jcicon-double-right:before {
  content: '\E833';
}
.jcicon-double-left:before {
  content: '\E834';
}
.jcicon-down-circle:before {
  content: '\E830';
}
.jcicon-down:before {
  content: '\E837';
}
.jcicon-down-circle-o:before {
  content: '\E83D';
}
.jcicon-down-square:before {
  content: '\E850';
}
.jcicon-down-square-o:before {
  content: '\E855';
}
.jcicon-enter:before {
  content: '\E8D1';
}
.jcicon-fast-backward:before {
  content: '\E81F';
}
.jcicon-forward:before {
  content: '\E8CE';
}
.jcicon-fast-forward:before {
  content: '\E820';
}
.jcicon-left:before {
  content: '\E838';
}
.jcicon-left-circle:before {
  content: '\E831';
}
.jcicon-left-square:before {
  content: '\E851';
}
.jcicon-left-circle-o:before {
  content: '\E83A';
}
.jcicon-left-square-o:before {
  content: '\E853';
}
.jcicon-login:before {
  content: '\E82A';
}
.jcicon-plus-circle:before {
  content: '\E85E';
}
.jcicon-play-circle-o:before {
  content: '\E84D';
}
.jcicon-menu-unfold:before {
  content: '\E965';
}
.jcicon-menu-fold:before {
  content: '\E966';
}
.jcicon-retweet:before {
  content: '\E846';
}
.jcicon-logout:before {
  content: '\E829';
}
.jcicon-right:before {
  content: '\E836';
}
.jcicon-right-square:before {
  content: '\E84F';
}
.jcicon-right-square-o:before {
  content: '\E854';
}
.jcicon-right-circle:before {
  content: '\E82F';
}
.jcicon-right-circle-o:before {
  content: '\E83C';
}
.jcicon-rollback:before {
  content: '\E8D0';
}
.jcicon-step-forward2:before {
  content: '\E828';
}
.jcicon-shrink:before {
  content: '\E82D';
}
.jcicon-swap:before {
  content: '\E842';
}
.jcicon-swap-left:before {
  content: '\E83E';
}
.jcicon-swap-right:before {
  content: '\E841';
}
.jcicon-up-square:before {
  content: '\E84E';
}
.jcicon-up:before {
  content: '\E839';
}
.jcicon-up-circle:before {
  content: '\E82E';
}
.jcicon-up-square-o:before {
  content: '\E852';
}
.jcicon-verticle-left:before {
  content: '\E83F';
}
.jcicon-verticle-right:before {
  content: '\E840';
}
.jcicon-up-circle-o:before {
  content: '\E83B';
}
.jcicon-play-circle:before {
  content: '\E84B';
}
.jcicon-question-circle-o:before {
  content: '\E859';
}
.jcicon-plus-circle-o:before {
  content: '\E85D';
}
.jcicon-plus:before {
  content: '\E85F';
}
.jcicon-plus-square-o:before {
  content: '\E86E';
}
.jcicon-plus-square:before {
  content: '\E86D';
}
.jcicon-pause:before {
  content: '\E866';
}
.jcicon-minus:before {
  content: '\E86A';
}
.jcicon-minus-square:before {
  content: '\E86C';
}
.jcicon-pause-circle-o:before {
  content: '\E862';
}
.jcicon-minus-square-o:before {
  content: '\E86B';
}
.jcicon-minus-circle:before {
  content: '\E867';
}
.jcicon-pause-circle:before {
  content: '\E863';
}
.jcicon-minus-circle-o:before {
  content: '\E868';
}
.jcicon-info:before {
  content: '\E86F';
}
.jcicon-info-cirlce-o:before {
  content: '\E870';
}
.jcicon-info-cirlce:before {
  content: '\E873';
}
.jcicon-exclamation:before {
  content: '\E877';
}
.jcicon-exclamation-circle:before {
  content: '\E875';
}
.jcicon-exclamation-circle-o:before {
  content: '\E876';
}
.jcicon-close-circle-o:before {
  content: '\E87D';
}
.jcicon-close-square:before {
  content: '\E87F';
}
.jcicon-clock-circle:before {
  content: '\E889';
}
.jcicon-close-square-o:before {
  content: '\E87E';
}
.jcicon-close:before {
  content: '\E878';
}
.jcicon-close-circle:before {
  content: '\E87B';
}
.jcicon-clock-circle-o:before {
  content: '\E88A';
}
.jcicon-check:before {
  content: '\E880';
}
.jcicon-check-square-o:before {
  content: '\E886';
}
.jcicon-check-circle-o:before {
  content: '\E888';
}
.jcicon-check-circle:before {
  content: '\E881';
}
.jcicon-check-square:before {
  content: '\E887';
}
.jcicon-question:before {
  content: '\E856';
}
.jcicon-warning-o:before {
  content: '\E896';
}
.jcicon-question-circle:before {
  content: '\E858';
}
.jcicon-warning:before {
  content: '\E897';
}
.jcicon-wifi:before {
  content: '\E96C';
}
.jcicon-video-camera:before {
  content: '\E96D';
}
.jcicon-usergroup-add:before {
  content: '\E96E';
}
.jcicon-woman:before {
  content: '\E96F';
}
.jcicon-usergroup-delete:before {
  content: '\E970';
}
.jcicon-wallet:before {
  content: '\E971';
}
.jcicon-user-delete:before {
  content: '\E972';
}
.jcicon-user:before {
  content: '\E8AD';
}
.jcicon-user-add:before {
  content: '\E974';
}
.jcicon-usb:before {
  content: '\E975';
}
.jcicon-upload:before {
  content: '\E8BF';
}
.jcicon-trophy:before {
  content: '\E978';
}
.jcicon-trademark:before {
  content: '\E979';
}
.jcicon-to-top:before {
  content: '\E97A';
}
.jcicon-team:before {
  content: '\E97B';
}
.jcicon-tag-o:before {
  content: '\E97C';
}
.jcicon-tags:before {
  content: '\E67F';
}
.jcicon-tool:before {
  content: '\E6B1';
}
.jcicon-tags-o:before {
  content: '\E97F';
}
.jcicon-tag:before {
  content: '\E980';
}
.jcicon-tablet:before {
  content: '\E981';
}
.jcicon-switcher:before {
  content: '\E982';
}
.jcicon-table:before {
  content: '\E983';
}
.jcicon-sync:before {
  content: '\E984';
}
.jcicon-star-o:before {
  content: '\E8B7';
}
.jcicon-sound:before {
  content: '\E986';
}
.jcicon-smile-o:before {
  content: '\E987';
}
.jcicon-star:before {
  content: '\E8B5';
}
.jcicon-solution:before {
  content: '\E989';
}
.jcicon-smile:before {
  content: '\E98A';
}
.jcicon-skin:before {
  content: '\E98B';
}
.jcicon-shop:before {
  content: '\E674';
}
.jcicon-shake:before {
  content: '\E98F';
}
.jcicon-select:before {
  content: '\E990';
}
.jcicon-setting:before {
  content: '\E991';
}
.jcicon-schedule:before {
  content: '\E992';
}
.jcicon-search:before {
  content: '\E6A2';
}
.jcicon-scan:before {
  content: '\E6C4';
}
.jcicon-save:before {
  content: '\E995';
}
.jcicon-safety:before {
  content: '\E996';
}
.jcicon-rocket:before {
  content: '\E997';
}
.jcicon-pushpin-o:before {
  content: '\E998';
}
.jcicon-red-envelope:before {
  content: '\E999';
}
.jcicon-qrcode:before {
  content: '\E7C4';
}
.jcicon-reload:before {
  content: '\E99B';
}
.jcicon-pushpin:before {
  content: '\E99C';
}
.jcicon-printer:before {
  content: '\E99D';
}
.jcicon-poweroff:before {
  content: '\E99E';
}
.jcicon-pie-chart:before {
  content: '\E8C8';
}
.jcicon-picture:before {
  content: '\E9A0';
}
.jcicon-pay-circle-o:before {
  content: '\E7AA';
}
.jcicon-phone:before {
  content: '\E69F';
}
.jcicon-paper-clip:before {
  content: '\E9A3';
}
.jcicon-pay-circle:before {
  content: '\E9A4';
}
.jcicon-profile:before {
  content: '\E9A5';
}
.jcicon-mobile:before {
  content: '\E7A6';
}
.jcicon-message:before {
  content: '\E6E7';
}
.jcicon-notification:before {
  content: '\E9A8';
}
.jcicon-menufold:before {
  content: '\E9AA';
}
.jcicon-menuunfold:before {
  content: '\E9AC';
}
.jcicon-mail:before {
  content: '\E62C';
}
.jcicon-man:before {
  content: '\E9AE';
}
.jcicon-medicine-box:before {
  content: '\E9AF';
}
.jcicon-link:before {
  content: '\E9B0';
}
.jcicon-lock:before {
  content: '\E89F';
}
.jcicon-like:before {
  content: '\E8E2';
}
.jcicon-line-chart:before {
  content: '\E8C9';
}
.jcicon-like-o:before {
  content: '\E8E3';
}
.jcicon-laptop:before {
  content: '\E9B5';
}
.jcicon-layout:before {
  content: '\E9B6';
}
.jcicon-key:before {
  content: '\E9B7';
}
.jcicon-inbox:before {
  content: '\E9B8';
}
.jcicon-idcard:before {
  content: '\E9B9';
}
.jcicon-home:before {
  content: '\E6B9';
}
.jcicon-hourglass:before {
  content: '\E9BB';
}
.jcicon-hdd:before {
  content: '\E9BC';
}
.jcicon-indent-left:before {
  content: '\E9BD';
}
.jcicon-heart:before {
  content: '\E7FA';
}
.jcicon-heart-o:before {
  content: '\E7F9';
}
.jcicon-global:before {
  content: '\E9C0';
}
.jcicon-indent-right:before {
  content: '\E9C1';
}
.jcicon-frown-o:before {
  content: '\E9C2';
}
.jcicon-gift:before {
  content: '\E9C3';
}
.jcicon-frown:before {
  content: '\E9C4';
}
.jcicon-folder-open:before {
  content: '\E9C5';
}
.jcicon-form:before {
  content: '\E9C6';
}
.jcicon-folder-add:before {
  content: '\E9C7';
}
.jcicon-fork:before {
  content: '\E9C8';
}
.jcicon-folder:before {
  content: '\E9C9';
}
.jcicon-flag:before {
  content: '\E80D';
}
.jcicon-file-word:before {
  content: '\E9CB';
}
.jcicon-filter:before {
  content: '\E6A3';
}
.jcicon-file-unknow:before {
  content: '\E9CD';
}
.jcicon-file-text:before {
  content: '\E9CE';
}
.jcicon-file-ppt:before {
  content: '\E9CF';
}
.jcicon-file-pdf:before {
  content: '\E9D0';
}
.jcicon-file-markdown:before {
  content: '\E9D1';
}
.jcicon-file-jpg:before {
  content: '\E9D2';
}
.jcicon-file-add:before {
  content: '\E9D4';
}
.jcicon-eye-o:before {
  content: '\E9D5';
}
.jcicon-eye:before {
  content: '\E69D';
}
.jcicon-exception:before {
  content: '\E9D7';
}
.jcicon-enviroment-o:before {
  content: '\E9D8';
}
.jcicon-enviroment:before {
  content: '\E9D9';
}
.jcicon-ellipsis:before {
  content: '\E6A0';
}
.jcicon-edit:before {
  content: '\E9DB';
}
.jcicon-download:before {
  content: '\E8C2';
}
.jcicon-export:before {
  content: '\E9DD';
}
.jcicon-dot-chart:before {
  content: '\E8C6';
}
.jcicon-file:before {
  content: '\E9DF';
}
.jcicon-dislike:before {
  content: '\E8DE';
}
.jcicon-dislike-o:before {
  content: '\E8DD';
}
.jcicon-desktop:before {
  content: '\E8D9';
}
.jcicon-database:before {
  content: '\E9E3';
}
.jcicon-dashboard:before {
  content: '\E9E4';
}
.jcicon-delete:before {
  content: '\E603';
}
.jcicon-credit-card:before {
  content: '\E8D8';
}
.jcicon-disconnect:before {
  content: '\E9E7';
}
.jcicon-customer-service:before {
  content: '\E9E8';
}
.jcicon-copyright:before {
  content: '\E9E9';
}
.jcicon-copy:before {
  content: '\E686';
}
.jcicon-contacts:before {
  content: '\E9EB';
}
.jcicon-compass:before {
  content: '\E9EC';
}
.jcicon-coffee:before {
  content: '\E9ED';
}
.jcicon-code-square-o:before {
  content: '\E8D4';
}
.jcicon-code-square:before {
  content: '\E8D5';
}
.jcicon-cloud-upload-o:before {
  content: '\E703';
}
.jcicon-cloud-upload:before {
  content: '\E702';
}
.jcicon-cloud-o:before {
  content: '\E8CD';
}
.jcicon-cloud:before {
  content: '\E8CC';
}
.jcicon-circledown-o:before {
  content: '\E9F4';
}
.jcicon-circledown:before {
  content: '\E9F5';
}
.jcicon-car:before {
  content: '\E9F6';
}
.jcicon-camera-o:before {
  content: '\E8BE';
}
.jcicon-camera:before {
  content: '\E8BD';
}
.jcicon-cloud-download:before {
  content: '\E9F9';
}
.jcicon-calendar:before {
  content: '\E62B';
}
.jcicon-cloud-download-o:before {
  content: '\E9FB';
}
.jcicon-calculator:before {
  content: '\E9FC';
}
.jcicon-bulb:before {
  content: '\E9FD';
}
.jcicon-book:before {
  content: '\E7B4';
}
.jcicon-bars:before {
  content: '\E8D2';
}
.jcicon-barschart:before {
  content: '\EA01';
}
.jcicon-barcode:before {
  content: '\EA02';
}
.jcicon-bar-chart:before {
  content: '\EA03';
}
.jcicon-area-chart:before {
  content: '\E8C7';
}
.jcicon-bank:before {
  content: '\EA05';
}
.jcicon-appstore-o:before {
  content: '\E67D';
}
.jcicon-appstore:before {
  content: '\E61F';
}
.jcicon-api:before {
  content: '\EA08';
}
.jcicon-unlock-o:before {
  content: '\E89E';
}
.jcicon-share-alt-o:before {
  content: '\E8C5';
}
.jcicon-shopping-cart-o:before {
  content: '\E6B5';
}
.jcicon-meh:before {
  content: '\E9AB';
}
.jcicon-meh-o:before {
  content: '\E9A9';
}
.jcicon-file-excel:before {
  content: '\E9D3';
}
/* 以下字体图标样式是根据组件ui需要自行添加的，替换时请保留 */
.jcicon-cross:before {
  content: '\E878';
}
.jcicon-cross-circle:before {
  content: '\E87B';
}
.jcicon-info-circle:before {
  content: '\E873';
}
/* stylelint-disable at-rule-no-unknown */
@font-face {
  font-family: "Monospaced Number";
  src: local("Tahoma");
  unicode-range: U+30-39;
}
@font-face {
  font-family: "Chinese Quote";
  src: local("PingFang SC"), local("SimSun");
  unicode-range: U+2018, U+2019, U+201c, U+201d;
}
html,
body {
  width: 100%;
  height: 100%;
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@at-root {
  @-ms-viewport {
    width: device-width;
  }
}
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
body {
  margin: 0;
  font-family: '\5FAE\8F6F\96C5\9ED1', '\5B8B\4F53', 'tahoma', 'arial';
  font-size: 12px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
}
[tabindex="-1"]:focus {
  outline: none !important;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
}
p {
  margin-top: 0;
  margin: 0;
}
abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}
address {
  margin-bottom: 1em;
  font-style: normal;
  line-height: inherit;
}
input[type="text"],
input[type="password"],
input[type="number"],
textarea {
  -webkit-appearance: none;
}
ol,
ul,
dl {
  margin-top: 0;
  /* 暂时去掉该属性，会造成页面中使用到的元素折行
     margin-bottom: 1em;
  */
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
dt {
  font-weight: 500;
}
dd {
  margin-bottom: .5em;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1em;
}
dfn {
  font-style: italic;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
a {
  color: #1890ff;
  background-color: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: color .3s;
  -webkit-text-decoration-skip: objects;
}
a:focus {
  text-decoration: underline;
  text-decoration-skip: ink;
}
a:hover {
  color: #40a9ff;
}
a:active {
  color: #096dd9;
}
a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}
a[disabled] {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
  pointer-events: none;
}
pre,
code,
kbd,
samp {
  font-family: Consolas, Menlo, Courier, monospace;
  font-size: 1em;
}
pre {
  margin-top: 0;
  margin-bottom: 1em;
  overflow: auto;
}
figure {
  margin: 0 0 1em;
}
img {
  vertical-align: middle;
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
a,
area,
button,
[role="button"],
input:not([type=range]),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
table {
  border-collapse: collapse;
}
caption {
  padding-top: .75em;
  padding-bottom: .3em;
  color: rgba(0, 0, 0, 0.45);
  text-align: left;
  caption-side: bottom;
}
th {
  text-align: inherit;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}
textarea {
  overflow: auto;
  resize: vertical;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0em;
  font-size: 1.5em;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none !important;
}
mark {
  padding: .2em;
  background-color: #feffe6;
}
::selection {
  background: #1890ff;
  color: #fff;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.fade-enter,
.fade-appear {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.fade-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.fade-enter.fade-enter-active,
.fade-appear.fade-appear-active {
  animation-name: jcFadeIn;
  animation-play-state: running;
}
.fade-leave.fade-leave-active {
  animation-name: jcFadeOut;
  animation-play-state: running;
  pointer-events: none;
}
.fade-enter,
.fade-appear {
  opacity: 0;
  animation-timing-function: linear;
}
.fade-leave {
  animation-timing-function: linear;
}
@keyframes jcFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes jcFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.move-up-enter,
.move-up-appear {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.move-up-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.move-up-enter.move-up-enter-active,
.move-up-appear.move-up-appear-active {
  animation-name: jcMoveUpIn;
  animation-play-state: running;
}
.move-up-leave.move-up-leave-active {
  animation-name: jcMoveUpOut;
  animation-play-state: running;
  pointer-events: none;
}
.move-up-enter,
.move-up-appear {
  opacity: 0;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}
.move-up-leave {
  animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
}
.move-down-enter,
.move-down-appear {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.move-down-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.move-down-enter.move-down-enter-active,
.move-down-appear.move-down-appear-active {
  animation-name: jcMoveDownIn;
  animation-play-state: running;
}
.move-down-leave.move-down-leave-active {
  animation-name: jcMoveDownOut;
  animation-play-state: running;
  pointer-events: none;
}
.move-down-enter,
.move-down-appear {
  opacity: 0;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}
.move-down-leave {
  animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
}
.move-left-enter,
.move-left-appear {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.move-left-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.move-left-enter.move-left-enter-active,
.move-left-appear.move-left-appear-active {
  animation-name: jcMoveLeftIn;
  animation-play-state: running;
}
.move-left-leave.move-left-leave-active {
  animation-name: jcMoveLeftOut;
  animation-play-state: running;
  pointer-events: none;
}
.move-left-enter,
.move-left-appear {
  opacity: 0;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}
.move-left-leave {
  animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
}
.move-right-enter,
.move-right-appear {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.move-right-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.move-right-enter.move-right-enter-active,
.move-right-appear.move-right-appear-active {
  animation-name: jcMoveRightIn;
  animation-play-state: running;
}
.move-right-leave.move-right-leave-active {
  animation-name: jcMoveRightOut;
  animation-play-state: running;
  pointer-events: none;
}
.move-right-enter,
.move-right-appear {
  opacity: 0;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}
.move-right-leave {
  animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
}
@keyframes jcMoveDownIn {
  0% {
    transform-origin: 0 0;
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform-origin: 0 0;
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes jcMoveDownOut {
  0% {
    transform-origin: 0 0;
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform-origin: 0 0;
    transform: translateY(100%);
    opacity: 0;
  }
}
@keyframes jcMoveLeftIn {
  0% {
    transform-origin: 0 0;
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform-origin: 0 0;
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes jcMoveLeftOut {
  0% {
    transform-origin: 0 0;
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform-origin: 0 0;
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes jcMoveRightIn {
  0% {
    opacity: 0;
    transform-origin: 0 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform-origin: 0 0;
    transform: translateX(0%);
  }
}
@keyframes jcMoveRightOut {
  0% {
    transform-origin: 0 0;
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform-origin: 0 0;
    transform: translateX(100%);
    opacity: 0;
  }
}
@keyframes jcMoveUpIn {
  0% {
    transform-origin: 0 0;
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform-origin: 0 0;
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes jcMoveUpOut {
  0% {
    transform-origin: 0 0;
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform-origin: 0 0;
    transform: translateY(-100%);
    opacity: 0;
  }
}
@keyframes loadingCircle {
  0% {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: 50% 50%;
    transform: rotate(360deg);
  }
}
.slide-up-enter,
.slide-up-appear {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.slide-up-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.slide-up-enter.slide-up-enter-active,
.slide-up-appear.slide-up-appear-active {
  animation-name: jcSlideUpIn;
  animation-play-state: running;
}
.slide-up-leave.slide-up-leave-active {
  animation-name: jcSlideUpOut;
  animation-play-state: running;
  pointer-events: none;
}
.slide-up-enter,
.slide-up-appear {
  opacity: 0;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.slide-up-leave {
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
.slide-down-enter,
.slide-down-appear {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.slide-down-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.slide-down-enter.slide-down-enter-active,
.slide-down-appear.slide-down-appear-active {
  animation-name: jcSlideDownIn;
  animation-play-state: running;
}
.slide-down-leave.slide-down-leave-active {
  animation-name: jcSlideDownOut;
  animation-play-state: running;
  pointer-events: none;
}
.slide-down-enter,
.slide-down-appear {
  opacity: 0;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.slide-down-leave {
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
.slide-left-enter,
.slide-left-appear {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.slide-left-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.slide-left-enter.slide-left-enter-active,
.slide-left-appear.slide-left-appear-active {
  animation-name: jcSlideLeftIn;
  animation-play-state: running;
}
.slide-left-leave.slide-left-leave-active {
  animation-name: jcSlideLeftOut;
  animation-play-state: running;
  pointer-events: none;
}
.slide-left-enter,
.slide-left-appear {
  opacity: 0;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.slide-left-leave {
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
.slide-right-enter,
.slide-right-appear {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.slide-right-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.slide-right-enter.slide-right-enter-active,
.slide-right-appear.slide-right-appear-active {
  animation-name: jcSlideRightIn;
  animation-play-state: running;
}
.slide-right-leave.slide-right-leave-active {
  animation-name: jcSlideRightOut;
  animation-play-state: running;
  pointer-events: none;
}
.slide-right-enter,
.slide-right-appear {
  opacity: 0;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.slide-right-leave {
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
@keyframes jcSlideUpIn {
  0% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
}
@keyframes jcSlideUpOut {
  0% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(0.8);
  }
}
@keyframes jcSlideDownIn {
  0% {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: scaleY(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }
}
@keyframes jcSlideDownOut {
  0% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: scaleY(0.8);
  }
}
@keyframes jcSlideLeftIn {
  0% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleX(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleX(1);
  }
}
@keyframes jcSlideLeftOut {
  0% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleX(0.8);
  }
}
@keyframes jcSlideRightIn {
  0% {
    opacity: 0;
    transform-origin: 100% 0%;
    transform: scaleX(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: 100% 0%;
    transform: scaleX(1);
  }
}
@keyframes jcSlideRightOut {
  0% {
    opacity: 1;
    transform-origin: 100% 0%;
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
    transform-origin: 100% 0%;
    transform: scaleX(0.8);
  }
}
.swing-enter,
.swing-appear {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.swing-enter.swing-enter-active,
.swing-appear.swing-appear-active {
  animation-name: jcSwingIn;
  animation-play-state: running;
}
@keyframes jcSwingIn {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
}
.zoom-enter,
.zoom-appear {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.zoom-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.zoom-enter.zoom-enter-active,
.zoom-appear.zoom-appear-active {
  animation-name: jcZoomIn;
  animation-play-state: running;
}
.zoom-leave.zoom-leave-active {
  animation-name: jcZoomOut;
  animation-play-state: running;
  pointer-events: none;
}
.zoom-enter,
.zoom-appear {
  transform: scale(0);
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}
.zoom-leave {
  animation-timing-function: cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.zoom-big-enter,
.zoom-big-appear {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.zoom-big-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.zoom-big-enter.zoom-big-enter-active,
.zoom-big-appear.zoom-big-appear-active {
  animation-name: jcZoomBigIn;
  animation-play-state: running;
}
.zoom-big-leave.zoom-big-leave-active {
  animation-name: jcZoomBigOut;
  animation-play-state: running;
  pointer-events: none;
}
.zoom-big-enter,
.zoom-big-appear {
  transform: scale(0);
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}
.zoom-big-leave {
  animation-timing-function: cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.zoom-big-fast-enter,
.zoom-big-fast-appear {
  animation-duration: 0.1s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.zoom-big-fast-leave {
  animation-duration: 0.1s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.zoom-big-fast-enter.zoom-big-fast-enter-active,
.zoom-big-fast-appear.zoom-big-fast-appear-active {
  animation-name: jcZoomBigIn;
  animation-play-state: running;
}
.zoom-big-fast-leave.zoom-big-fast-leave-active {
  animation-name: jcZoomBigOut;
  animation-play-state: running;
  pointer-events: none;
}
.zoom-big-fast-enter,
.zoom-big-fast-appear {
  transform: scale(0);
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}
.zoom-big-fast-leave {
  animation-timing-function: cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.zoom-up-enter,
.zoom-up-appear {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.zoom-up-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.zoom-up-enter.zoom-up-enter-active,
.zoom-up-appear.zoom-up-appear-active {
  animation-name: jcZoomUpIn;
  animation-play-state: running;
}
.zoom-up-leave.zoom-up-leave-active {
  animation-name: jcZoomUpOut;
  animation-play-state: running;
  pointer-events: none;
}
.zoom-up-enter,
.zoom-up-appear {
  transform: scale(0);
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}
.zoom-up-leave {
  animation-timing-function: cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.zoom-down-enter,
.zoom-down-appear {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.zoom-down-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.zoom-down-enter.zoom-down-enter-active,
.zoom-down-appear.zoom-down-appear-active {
  animation-name: jcZoomDownIn;
  animation-play-state: running;
}
.zoom-down-leave.zoom-down-leave-active {
  animation-name: jcZoomDownOut;
  animation-play-state: running;
  pointer-events: none;
}
.zoom-down-enter,
.zoom-down-appear {
  transform: scale(0);
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}
.zoom-down-leave {
  animation-timing-function: cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.zoom-left-enter,
.zoom-left-appear {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.zoom-left-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.zoom-left-enter.zoom-left-enter-active,
.zoom-left-appear.zoom-left-appear-active {
  animation-name: jcZoomLeftIn;
  animation-play-state: running;
}
.zoom-left-leave.zoom-left-leave-active {
  animation-name: jcZoomLeftOut;
  animation-play-state: running;
  pointer-events: none;
}
.zoom-left-enter,
.zoom-left-appear {
  transform: scale(0);
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}
.zoom-left-leave {
  animation-timing-function: cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.zoom-right-enter,
.zoom-right-appear {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.zoom-right-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.zoom-right-enter.zoom-right-enter-active,
.zoom-right-appear.zoom-right-appear-active {
  animation-name: jcZoomRightIn;
  animation-play-state: running;
}
.zoom-right-leave.zoom-right-leave-active {
  animation-name: jcZoomRightOut;
  animation-play-state: running;
  pointer-events: none;
}
.zoom-right-enter,
.zoom-right-appear {
  transform: scale(0);
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}
.zoom-right-leave {
  animation-timing-function: cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
@keyframes jcZoomIn {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes jcZoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.2);
  }
}
@keyframes jcZoomBigIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes jcZoomBigOut {
  0% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
@keyframes jcZoomUpIn {
  0% {
    opacity: 0;
    transform-origin: 50% 0%;
    transform: scale(0.8);
  }
  100% {
    transform-origin: 50% 0%;
    transform: scale(1);
  }
}
@keyframes jcZoomUpOut {
  0% {
    transform-origin: 50% 0%;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform-origin: 50% 0%;
    transform: scale(0.8);
  }
}
@keyframes jcZoomLeftIn {
  0% {
    opacity: 0;
    transform-origin: 0% 50%;
    transform: scale(0.8);
  }
  100% {
    transform-origin: 0% 50%;
    transform: scale(1);
  }
}
@keyframes jcZoomLeftOut {
  0% {
    transform-origin: 0% 50%;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform-origin: 0% 50%;
    transform: scale(0.8);
  }
}
@keyframes jcZoomRightIn {
  0% {
    opacity: 0;
    transform-origin: 100% 50%;
    transform: scale(0.8);
  }
  100% {
    transform-origin: 100% 50%;
    transform: scale(1);
  }
}
@keyframes jcZoomRightOut {
  0% {
    transform-origin: 100% 50%;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform-origin: 100% 50%;
    transform: scale(0.8);
  }
}
@keyframes jcZoomDownIn {
  0% {
    opacity: 0;
    transform-origin: 50% 100%;
    transform: scale(0.8);
  }
  100% {
    transform-origin: 50% 100%;
    transform: scale(1);
  }
}
@keyframes jcZoomDownOut {
  0% {
    transform-origin: 50% 100%;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform-origin: 50% 100%;
    transform: scale(0.8);
  }
}
.jc-motion-collapse {
  overflow: hidden;
}
.jc-motion-collapse-active {
  transition: height 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}


/*# sourceMappingURL=5-7425fd76e9b9cbdd26a4.css.map*/