/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
.jc-btn {
  line-height: 1.5;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0 15px;
  font-size: 12px;
  border-radius: 4px;
  height: 28px;
  user-select: none;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-color: #d9d9d9;
}
.jc-btn > .jcicon {
  line-height: 1;
}
.jc-btn,
.jc-btn:active,
.jc-btn:focus {
  outline: 0;
}
.jc-btn:not([disabled]):hover {
  text-decoration: none;
}
.jc-btn:not([disabled]):active {
  outline: 0;
  transition: none;
}
.jc-btn.disabled,
.jc-btn[disabled] {
  cursor: not-allowed;
}
.jc-btn.disabled > *,
.jc-btn[disabled] > * {
  pointer-events: none;
}
.jc-btn-lg {
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  height: 32px;
}
.jc-btn-sm {
  padding: 0 7px;
  font-size: 12px;
  border-radius: 2px;
  height: 22px;
}
.jc-btn > a:only-child {
  color: currentColor;
}
.jc-btn > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.jc-btn:hover,
.jc-btn:focus {
  color: #40a9ff;
  background-color: #fff;
  border-color: #40a9ff;
}
.jc-btn:hover > a:only-child,
.jc-btn:focus > a:only-child {
  color: currentColor;
}
.jc-btn:hover > a:only-child:after,
.jc-btn:focus > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.jc-btn:active,
.jc-btn.active {
  color: #096dd9;
  background-color: #fff;
  border-color: #096dd9;
}
.jc-btn:active > a:only-child,
.jc-btn.active > a:only-child {
  color: currentColor;
}
.jc-btn:active > a:only-child:after,
.jc-btn.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.jc-btn.disabled,
.jc-btn[disabled],
.jc-btn.disabled:hover,
.jc-btn[disabled]:hover,
.jc-btn.disabled:focus,
.jc-btn[disabled]:focus,
.jc-btn.disabled:active,
.jc-btn[disabled]:active,
.jc-btn.disabled.active,
.jc-btn[disabled].active {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
}
.jc-btn.disabled > a:only-child,
.jc-btn[disabled] > a:only-child,
.jc-btn.disabled:hover > a:only-child,
.jc-btn[disabled]:hover > a:only-child,
.jc-btn.disabled:focus > a:only-child,
.jc-btn[disabled]:focus > a:only-child,
.jc-btn.disabled:active > a:only-child,
.jc-btn[disabled]:active > a:only-child,
.jc-btn.disabled.active > a:only-child,
.jc-btn[disabled].active > a:only-child {
  color: currentColor;
}
.jc-btn.disabled > a:only-child:after,
.jc-btn[disabled] > a:only-child:after,
.jc-btn.disabled:hover > a:only-child:after,
.jc-btn[disabled]:hover > a:only-child:after,
.jc-btn.disabled:focus > a:only-child:after,
.jc-btn[disabled]:focus > a:only-child:after,
.jc-btn.disabled:active > a:only-child:after,
.jc-btn[disabled]:active > a:only-child:after,
.jc-btn.disabled.active > a:only-child:after,
.jc-btn[disabled].active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.jc-btn:hover,
.jc-btn:focus,
.jc-btn:active,
.jc-btn.active {
  background: #fff;
}
.jc-btn > i,
.jc-btn > span {
  pointer-events: none;
}
.jc-btn-primary {
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
}
.jc-btn-primary > a:only-child {
  color: currentColor;
}
.jc-btn-primary > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.jc-btn-primary:hover,
.jc-btn-primary:focus {
  color: #fff;
  background-color: #40a9ff;
  border-color: #40a9ff;
}
.jc-btn-primary:hover > a:only-child,
.jc-btn-primary:focus > a:only-child {
  color: currentColor;
}
.jc-btn-primary:hover > a:only-child:after,
.jc-btn-primary:focus > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.jc-btn-primary:active,
.jc-btn-primary.active {
  color: #fff;
  background-color: #096dd9;
  border-color: #096dd9;
}
.jc-btn-primary:active > a:only-child,
.jc-btn-primary.active > a:only-child {
  color: currentColor;
}
.jc-btn-primary:active > a:only-child:after,
.jc-btn-primary.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.jc-btn-primary.disabled,
.jc-btn-primary[disabled],
.jc-btn-primary.disabled:hover,
.jc-btn-primary[disabled]:hover,
.jc-btn-primary.disabled:focus,
.jc-btn-primary[disabled]:focus,
.jc-btn-primary.disabled:active,
.jc-btn-primary[disabled]:active,
.jc-btn-primary.disabled.active,
.jc-btn-primary[disabled].active {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
}
.jc-btn-primary.disabled > a:only-child,
.jc-btn-primary[disabled] > a:only-child,
.jc-btn-primary.disabled:hover > a:only-child,
.jc-btn-primary[disabled]:hover > a:only-child,
.jc-btn-primary.disabled:focus > a:only-child,
.jc-btn-primary[disabled]:focus > a:only-child,
.jc-btn-primary.disabled:active > a:only-child,
.jc-btn-primary[disabled]:active > a:only-child,
.jc-btn-primary.disabled.active > a:only-child,
.jc-btn-primary[disabled].active > a:only-child {
  color: currentColor;
}
.jc-btn-primary.disabled > a:only-child:after,
.jc-btn-primary[disabled] > a:only-child:after,
.jc-btn-primary.disabled:hover > a:only-child:after,
.jc-btn-primary[disabled]:hover > a:only-child:after,
.jc-btn-primary.disabled:focus > a:only-child:after,
.jc-btn-primary[disabled]:focus > a:only-child:after,
.jc-btn-primary.disabled:active > a:only-child:after,
.jc-btn-primary[disabled]:active > a:only-child:after,
.jc-btn-primary.disabled.active > a:only-child:after,
.jc-btn-primary[disabled].active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.jc-btn-group .jc-btn-primary:not(:first-child):not(:last-child) {
  border-right-color: #40a9ff;
  border-left-color: #40a9ff;
}
.jc-btn-group .jc-btn-primary:not(:first-child):not(:last-child):disabled {
  border-color: #d9d9d9;
}
.jc-btn-group .jc-btn-primary:first-child:not(:last-child) {
  border-right-color: #40a9ff;
}
.jc-btn-group .jc-btn-primary:first-child:not(:last-child)[disabled] {
  border-right-color: #d9d9d9;
}
.jc-btn-group .jc-btn-primary:last-child:not(:first-child),
.jc-btn-group .jc-btn-primary + .jc-btn-primary {
  border-left-color: #40a9ff;
}
.jc-btn-group .jc-btn-primary:last-child:not(:first-child)[disabled],
.jc-btn-group .jc-btn-primary + .jc-btn-primary[disabled] {
  border-left-color: #d9d9d9;
}
.jc-btn-ghost {
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
  border-color: #d9d9d9;
}
.jc-btn-ghost > a:only-child {
  color: currentColor;
}
.jc-btn-ghost > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.jc-btn-ghost:hover,
.jc-btn-ghost:focus {
  color: #40a9ff;
  background-color: transparent;
  border-color: #40a9ff;
}
.jc-btn-ghost:hover > a:only-child,
.jc-btn-ghost:focus > a:only-child {
  color: currentColor;
}
.jc-btn-ghost:hover > a:only-child:after,
.jc-btn-ghost:focus > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.jc-btn-ghost:active,
.jc-btn-ghost.active {
  color: #096dd9;
  background-color: transparent;
  border-color: #096dd9;
}
.jc-btn-ghost:active > a:only-child,
.jc-btn-ghost.active > a:only-child {
  color: currentColor;
}
.jc-btn-ghost:active > a:only-child:after,
.jc-btn-ghost.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.jc-btn-ghost.disabled,
.jc-btn-ghost[disabled],
.jc-btn-ghost.disabled:hover,
.jc-btn-ghost[disabled]:hover,
.jc-btn-ghost.disabled:focus,
.jc-btn-ghost[disabled]:focus,
.jc-btn-ghost.disabled:active,
.jc-btn-ghost[disabled]:active,
.jc-btn-ghost.disabled.active,
.jc-btn-ghost[disabled].active {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
}
.jc-btn-ghost.disabled > a:only-child,
.jc-btn-ghost[disabled] > a:only-child,
.jc-btn-ghost.disabled:hover > a:only-child,
.jc-btn-ghost[disabled]:hover > a:only-child,
.jc-btn-ghost.disabled:focus > a:only-child,
.jc-btn-ghost[disabled]:focus > a:only-child,
.jc-btn-ghost.disabled:active > a:only-child,
.jc-btn-ghost[disabled]:active > a:only-child,
.jc-btn-ghost.disabled.active > a:only-child,
.jc-btn-ghost[disabled].active > a:only-child {
  color: currentColor;
}
.jc-btn-ghost.disabled > a:only-child:after,
.jc-btn-ghost[disabled] > a:only-child:after,
.jc-btn-ghost.disabled:hover > a:only-child:after,
.jc-btn-ghost[disabled]:hover > a:only-child:after,
.jc-btn-ghost.disabled:focus > a:only-child:after,
.jc-btn-ghost[disabled]:focus > a:only-child:after,
.jc-btn-ghost.disabled:active > a:only-child:after,
.jc-btn-ghost[disabled]:active > a:only-child:after,
.jc-btn-ghost.disabled.active > a:only-child:after,
.jc-btn-ghost[disabled].active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.jc-btn-dashed {
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-color: #d9d9d9;
  border-style: dashed;
}
.jc-btn-dashed > a:only-child {
  color: currentColor;
}
.jc-btn-dashed > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.jc-btn-dashed:hover,
.jc-btn-dashed:focus {
  color: #40a9ff;
  background-color: #fff;
  border-color: #40a9ff;
}
.jc-btn-dashed:hover > a:only-child,
.jc-btn-dashed:focus > a:only-child {
  color: currentColor;
}
.jc-btn-dashed:hover > a:only-child:after,
.jc-btn-dashed:focus > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.jc-btn-dashed:active,
.jc-btn-dashed.active {
  color: #096dd9;
  background-color: #fff;
  border-color: #096dd9;
}
.jc-btn-dashed:active > a:only-child,
.jc-btn-dashed.active > a:only-child {
  color: currentColor;
}
.jc-btn-dashed:active > a:only-child:after,
.jc-btn-dashed.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.jc-btn-dashed.disabled,
.jc-btn-dashed[disabled],
.jc-btn-dashed.disabled:hover,
.jc-btn-dashed[disabled]:hover,
.jc-btn-dashed.disabled:focus,
.jc-btn-dashed[disabled]:focus,
.jc-btn-dashed.disabled:active,
.jc-btn-dashed[disabled]:active,
.jc-btn-dashed.disabled.active,
.jc-btn-dashed[disabled].active {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
}
.jc-btn-dashed.disabled > a:only-child,
.jc-btn-dashed[disabled] > a:only-child,
.jc-btn-dashed.disabled:hover > a:only-child,
.jc-btn-dashed[disabled]:hover > a:only-child,
.jc-btn-dashed.disabled:focus > a:only-child,
.jc-btn-dashed[disabled]:focus > a:only-child,
.jc-btn-dashed.disabled:active > a:only-child,
.jc-btn-dashed[disabled]:active > a:only-child,
.jc-btn-dashed.disabled.active > a:only-child,
.jc-btn-dashed[disabled].active > a:only-child {
  color: currentColor;
}
.jc-btn-dashed.disabled > a:only-child:after,
.jc-btn-dashed[disabled] > a:only-child:after,
.jc-btn-dashed.disabled:hover > a:only-child:after,
.jc-btn-dashed[disabled]:hover > a:only-child:after,
.jc-btn-dashed.disabled:focus > a:only-child:after,
.jc-btn-dashed[disabled]:focus > a:only-child:after,
.jc-btn-dashed.disabled:active > a:only-child:after,
.jc-btn-dashed[disabled]:active > a:only-child:after,
.jc-btn-dashed.disabled.active > a:only-child:after,
.jc-btn-dashed[disabled].active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.jc-btn-danger {
  color: #f5222d;
  background-color: #f5f5f5;
  border-color: #d9d9d9;
}
.jc-btn-danger > a:only-child {
  color: currentColor;
}
.jc-btn-danger > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.jc-btn-danger:hover,
.jc-btn-danger:focus {
  color: #fff;
  background-color: #ff4d4f;
  border-color: #ff4d4f;
}
.jc-btn-danger:hover > a:only-child,
.jc-btn-danger:focus > a:only-child {
  color: currentColor;
}
.jc-btn-danger:hover > a:only-child:after,
.jc-btn-danger:focus > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.jc-btn-danger:active,
.jc-btn-danger.active {
  color: #fff;
  background-color: #cf1322;
  border-color: #cf1322;
}
.jc-btn-danger:active > a:only-child,
.jc-btn-danger.active > a:only-child {
  color: currentColor;
}
.jc-btn-danger:active > a:only-child:after,
.jc-btn-danger.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.jc-btn-danger.disabled,
.jc-btn-danger[disabled],
.jc-btn-danger.disabled:hover,
.jc-btn-danger[disabled]:hover,
.jc-btn-danger.disabled:focus,
.jc-btn-danger[disabled]:focus,
.jc-btn-danger.disabled:active,
.jc-btn-danger[disabled]:active,
.jc-btn-danger.disabled.active,
.jc-btn-danger[disabled].active {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
}
.jc-btn-danger.disabled > a:only-child,
.jc-btn-danger[disabled] > a:only-child,
.jc-btn-danger.disabled:hover > a:only-child,
.jc-btn-danger[disabled]:hover > a:only-child,
.jc-btn-danger.disabled:focus > a:only-child,
.jc-btn-danger[disabled]:focus > a:only-child,
.jc-btn-danger.disabled:active > a:only-child,
.jc-btn-danger[disabled]:active > a:only-child,
.jc-btn-danger.disabled.active > a:only-child,
.jc-btn-danger[disabled].active > a:only-child {
  color: currentColor;
}
.jc-btn-danger.disabled > a:only-child:after,
.jc-btn-danger[disabled] > a:only-child:after,
.jc-btn-danger.disabled:hover > a:only-child:after,
.jc-btn-danger[disabled]:hover > a:only-child:after,
.jc-btn-danger.disabled:focus > a:only-child:after,
.jc-btn-danger[disabled]:focus > a:only-child:after,
.jc-btn-danger.disabled:active > a:only-child:after,
.jc-btn-danger[disabled]:active > a:only-child:after,
.jc-btn-danger.disabled.active > a:only-child:after,
.jc-btn-danger[disabled].active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.jc-btn-circle,
.jc-btn-circle-outline {
  width: 28px;
  padding: 0;
  font-size: 14px;
  border-radius: 50%;
  height: 28px;
}
.jc-btn-circle.jc-btn-lg,
.jc-btn-circle-outline.jc-btn-lg {
  width: 32px;
  padding: 0;
  font-size: 16px;
  border-radius: 50%;
  height: 32px;
}
.jc-btn-circle.jc-btn-sm,
.jc-btn-circle-outline.jc-btn-sm {
  width: 22px;
  padding: 0;
  font-size: 12px;
  border-radius: 50%;
  height: 22px;
}
.jc-btn:before {
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  background: #fff;
  opacity: 0.35;
  content: '';
  border-radius: inherit;
  z-index: 1;
  transition: opacity .2s;
  pointer-events: none;
  display: none;
}
.jc-btn .jcicon {
  transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.jc-btn.jc-btn-loading:before {
  display: block;
}
.jc-btn.jc-btn-loading:not(.jc-btn-circle):not(.jc-btn-circle-outline):not(.jc-btn-icon-only) {
  padding-left: 29px;
  pointer-events: none;
  position: relative;
}
.jc-btn.jc-btn-loading:not(.jc-btn-circle):not(.jc-btn-circle-outline):not(.jc-btn-icon-only) .jcicon {
  margin-left: -14px;
}
.jc-btn-sm.jc-btn-loading:not(.jc-btn-circle):not(.jc-btn-circle-outline):not(.jc-btn-icon-only) {
  padding-left: 24px;
}
.jc-btn-sm.jc-btn-loading:not(.jc-btn-circle):not(.jc-btn-circle-outline):not(.jc-btn-icon-only) .jcicon {
  margin-left: -17px;
}
.jc-btn-group {
  position: relative;
  display: inline-block;
}
.jc-btn-group > .jc-btn {
  position: relative;
  line-height: 26px;
}
.jc-btn-group > .jc-btn:hover,
.jc-btn-group > .jc-btn:focus,
.jc-btn-group > .jc-btn:active,
.jc-btn-group > .jc-btn.active {
  z-index: 2;
}
.jc-btn-group > .jc-btn:disabled {
  z-index: 0;
}
.jc-btn-group-lg > .jc-btn {
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  height: 32px;
  line-height: 30px;
}
.jc-btn-group-sm > .jc-btn {
  padding: 0 7px;
  font-size: 12px;
  border-radius: 2px;
  height: 22px;
  line-height: 20px;
}
.jc-btn-group-sm > .jc-btn > .jcicon {
  font-size: 12px;
}
.jc-btn-group .jc-btn + .jc-btn,
.jc-btn + .jc-btn-group,
.jc-btn-group span + .jc-btn,
.jc-btn-group .jc-btn + span,
.jc-btn-group + .jc-btn,
.jc-btn-group + .jc-btn-group {
  margin-left: -1px;
}
.jc-btn-group .jc-btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.jc-btn-group > .jc-btn:first-child,
.jc-btn-group > span:first-child > .jc-btn {
  margin-left: 0;
}
.jc-btn-group > .jc-btn:first-child:not(:last-child),
.jc-btn-group > span:first-child:not(:last-child) > .jc-btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.jc-btn-group > .jc-btn:last-child:not(:first-child),
.jc-btn-group > span:last-child:not(:first-child) > .jc-btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.jc-btn-group > .jc-btn-group {
  float: left;
}
.jc-btn-group > .jc-btn-group:not(:first-child):not(:last-child) > .jc-btn {
  border-radius: 0;
}
.jc-btn-group > .jc-btn-group:first-child:not(:last-child) > .jc-btn:last-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-right: 8px;
}
.jc-btn-group > .jc-btn-group:last-child:not(:first-child) > .jc-btn:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding-left: 8px;
}
.jc-btn:not(.jc-btn-circle):not(.jc-btn-circle-outline).jc-btn-icon-only {
  padding-left: 8px;
  padding-right: 8px;
}
.jc-btn:focus > span,
.jc-btn:active > span {
  position: relative;
}
.jc-btn > .jcicon + span,
.jc-btn > span + .jcicon {
  margin-left: 8px;
}
.jc-btn-clicked:after {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  border-radius: inherit;
  border: 0 solid #1890ff;
  opacity: 0.4;
  animation: buttonEffect .4s;
  display: block;
}
.jc-btn-danger.jc-btn-clicked:after {
  border-color: #f5222d;
}
.jc-btn-background-ghost {
  background: transparent !important;
  border-color: #fff;
  color: #fff;
}
.jc-btn-background-ghost.jc-btn-primary {
  color: #1890ff;
  background-color: transparent;
  border-color: #1890ff;
}
.jc-btn-background-ghost.jc-btn-primary > a:only-child {
  color: currentColor;
}
.jc-btn-background-ghost.jc-btn-primary > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.jc-btn-background-ghost.jc-btn-primary:hover,
.jc-btn-background-ghost.jc-btn-primary:focus {
  color: #40a9ff;
  background-color: transparent;
  border-color: #40a9ff;
}
.jc-btn-background-ghost.jc-btn-primary:hover > a:only-child,
.jc-btn-background-ghost.jc-btn-primary:focus > a:only-child {
  color: currentColor;
}
.jc-btn-background-ghost.jc-btn-primary:hover > a:only-child:after,
.jc-btn-background-ghost.jc-btn-primary:focus > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.jc-btn-background-ghost.jc-btn-primary:active,
.jc-btn-background-ghost.jc-btn-primary.active {
  color: #096dd9;
  background-color: transparent;
  border-color: #096dd9;
}
.jc-btn-background-ghost.jc-btn-primary:active > a:only-child,
.jc-btn-background-ghost.jc-btn-primary.active > a:only-child {
  color: currentColor;
}
.jc-btn-background-ghost.jc-btn-primary:active > a:only-child:after,
.jc-btn-background-ghost.jc-btn-primary.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.jc-btn-background-ghost.jc-btn-primary.disabled,
.jc-btn-background-ghost.jc-btn-primary[disabled],
.jc-btn-background-ghost.jc-btn-primary.disabled:hover,
.jc-btn-background-ghost.jc-btn-primary[disabled]:hover,
.jc-btn-background-ghost.jc-btn-primary.disabled:focus,
.jc-btn-background-ghost.jc-btn-primary[disabled]:focus,
.jc-btn-background-ghost.jc-btn-primary.disabled:active,
.jc-btn-background-ghost.jc-btn-primary[disabled]:active,
.jc-btn-background-ghost.jc-btn-primary.disabled.active,
.jc-btn-background-ghost.jc-btn-primary[disabled].active {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
}
.jc-btn-background-ghost.jc-btn-primary.disabled > a:only-child,
.jc-btn-background-ghost.jc-btn-primary[disabled] > a:only-child,
.jc-btn-background-ghost.jc-btn-primary.disabled:hover > a:only-child,
.jc-btn-background-ghost.jc-btn-primary[disabled]:hover > a:only-child,
.jc-btn-background-ghost.jc-btn-primary.disabled:focus > a:only-child,
.jc-btn-background-ghost.jc-btn-primary[disabled]:focus > a:only-child,
.jc-btn-background-ghost.jc-btn-primary.disabled:active > a:only-child,
.jc-btn-background-ghost.jc-btn-primary[disabled]:active > a:only-child,
.jc-btn-background-ghost.jc-btn-primary.disabled.active > a:only-child,
.jc-btn-background-ghost.jc-btn-primary[disabled].active > a:only-child {
  color: currentColor;
}
.jc-btn-background-ghost.jc-btn-primary.disabled > a:only-child:after,
.jc-btn-background-ghost.jc-btn-primary[disabled] > a:only-child:after,
.jc-btn-background-ghost.jc-btn-primary.disabled:hover > a:only-child:after,
.jc-btn-background-ghost.jc-btn-primary[disabled]:hover > a:only-child:after,
.jc-btn-background-ghost.jc-btn-primary.disabled:focus > a:only-child:after,
.jc-btn-background-ghost.jc-btn-primary[disabled]:focus > a:only-child:after,
.jc-btn-background-ghost.jc-btn-primary.disabled:active > a:only-child:after,
.jc-btn-background-ghost.jc-btn-primary[disabled]:active > a:only-child:after,
.jc-btn-background-ghost.jc-btn-primary.disabled.active > a:only-child:after,
.jc-btn-background-ghost.jc-btn-primary[disabled].active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.jc-btn-background-ghost.jc-btn-danger {
  color: #f5222d;
  background-color: transparent;
  border-color: #f5222d;
}
.jc-btn-background-ghost.jc-btn-danger > a:only-child {
  color: currentColor;
}
.jc-btn-background-ghost.jc-btn-danger > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.jc-btn-background-ghost.jc-btn-danger:hover,
.jc-btn-background-ghost.jc-btn-danger:focus {
  color: #ff4d4f;
  background-color: transparent;
  border-color: #ff4d4f;
}
.jc-btn-background-ghost.jc-btn-danger:hover > a:only-child,
.jc-btn-background-ghost.jc-btn-danger:focus > a:only-child {
  color: currentColor;
}
.jc-btn-background-ghost.jc-btn-danger:hover > a:only-child:after,
.jc-btn-background-ghost.jc-btn-danger:focus > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.jc-btn-background-ghost.jc-btn-danger:active,
.jc-btn-background-ghost.jc-btn-danger.active {
  color: #cf1322;
  background-color: transparent;
  border-color: #cf1322;
}
.jc-btn-background-ghost.jc-btn-danger:active > a:only-child,
.jc-btn-background-ghost.jc-btn-danger.active > a:only-child {
  color: currentColor;
}
.jc-btn-background-ghost.jc-btn-danger:active > a:only-child:after,
.jc-btn-background-ghost.jc-btn-danger.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.jc-btn-background-ghost.jc-btn-danger.disabled,
.jc-btn-background-ghost.jc-btn-danger[disabled],
.jc-btn-background-ghost.jc-btn-danger.disabled:hover,
.jc-btn-background-ghost.jc-btn-danger[disabled]:hover,
.jc-btn-background-ghost.jc-btn-danger.disabled:focus,
.jc-btn-background-ghost.jc-btn-danger[disabled]:focus,
.jc-btn-background-ghost.jc-btn-danger.disabled:active,
.jc-btn-background-ghost.jc-btn-danger[disabled]:active,
.jc-btn-background-ghost.jc-btn-danger.disabled.active,
.jc-btn-background-ghost.jc-btn-danger[disabled].active {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
}
.jc-btn-background-ghost.jc-btn-danger.disabled > a:only-child,
.jc-btn-background-ghost.jc-btn-danger[disabled] > a:only-child,
.jc-btn-background-ghost.jc-btn-danger.disabled:hover > a:only-child,
.jc-btn-background-ghost.jc-btn-danger[disabled]:hover > a:only-child,
.jc-btn-background-ghost.jc-btn-danger.disabled:focus > a:only-child,
.jc-btn-background-ghost.jc-btn-danger[disabled]:focus > a:only-child,
.jc-btn-background-ghost.jc-btn-danger.disabled:active > a:only-child,
.jc-btn-background-ghost.jc-btn-danger[disabled]:active > a:only-child,
.jc-btn-background-ghost.jc-btn-danger.disabled.active > a:only-child,
.jc-btn-background-ghost.jc-btn-danger[disabled].active > a:only-child {
  color: currentColor;
}
.jc-btn-background-ghost.jc-btn-danger.disabled > a:only-child:after,
.jc-btn-background-ghost.jc-btn-danger[disabled] > a:only-child:after,
.jc-btn-background-ghost.jc-btn-danger.disabled:hover > a:only-child:after,
.jc-btn-background-ghost.jc-btn-danger[disabled]:hover > a:only-child:after,
.jc-btn-background-ghost.jc-btn-danger.disabled:focus > a:only-child:after,
.jc-btn-background-ghost.jc-btn-danger[disabled]:focus > a:only-child:after,
.jc-btn-background-ghost.jc-btn-danger.disabled:active > a:only-child:after,
.jc-btn-background-ghost.jc-btn-danger[disabled]:active > a:only-child:after,
.jc-btn-background-ghost.jc-btn-danger.disabled.active > a:only-child:after,
.jc-btn-background-ghost.jc-btn-danger[disabled].active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.jc-btn-two-chinese-chars:first-letter {
  letter-spacing: .34em;
}
.jc-btn-two-chinese-chars > * {
  letter-spacing: .34em;
  margin-right: -0.34em;
}
@keyframes buttonEffect {
  to {
    opacity: 0;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border-width: 6px;
  }
}
a.jc-btn {
  line-height: 26px;
}
a.jc-btn-lg {
  line-height: 30px;
}
a.jc-btn-sm {
  line-height: 20px;
}

/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
.jc-input {
  font-family: '\5FAE\8F6F\96C5\9ED1', '\5B8B\4F53', 'tahoma', 'arial';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  padding: 4px 11px;
  width: 100%;
  height: 28px;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all .3s;
}
.jc-input::-moz-placeholder {
  color: #bfbfbf;
  opacity: 1;
}
.jc-input:-ms-input-placeholder {
  color: #bfbfbf;
}
.jc-input::-webkit-input-placeholder {
  color: #bfbfbf;
}
.jc-input:hover {
  border-color: #40a9ff;
}
.jc-input:focus {
  border-color: #40a9ff;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
.jc-input-disabled {
  background-color: #f5f5f5;
  opacity: 1;
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
}
.jc-input-disabled:hover {
  border-color: #e6d8d8;
}
textarea.jc-input {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  transition: all .3s, height 0s;
  min-height: 28px;
}
.jc-input-lg {
  padding: 6px 11px;
  height: 32px;
  font-size: 14px;
}
.jc-input-sm {
  padding: 1px 7px;
  height: 22px;
}
.jc-input-group {
  font-family: '\5FAE\8F6F\96C5\9ED1', '\5B8B\4F53', 'tahoma', 'arial';
  font-size: 12px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: table;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
.jc-input-group[class*="col-"] {
  float: none;
  padding-left: 0;
  padding-right: 0;
}
.jc-input-group > [class*="col-"] {
  padding-right: 8px;
}
.jc-input-group > [class*="col-"]:last-child {
  padding-right: 0;
}
.jc-input-group-addon,
.jc-input-group-wrap,
.jc-input-group > .jc-input {
  display: table-cell;
}
.jc-input-group-addon:not(:first-child):not(:last-child),
.jc-input-group-wrap:not(:first-child):not(:last-child),
.jc-input-group > .jc-input:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.jc-input-group-addon,
.jc-input-group-wrap {
  width: 1px;
  white-space: nowrap;
  vertical-align: middle;
}
.jc-input-group-wrap > * {
  display: block !importjc;
}
.jc-input-group .jc-input {
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.jc-input-group .jc-input:focus {
  z-index: 1;
}
.jc-input-group-addon {
  padding: 0 11px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  color: rgba(0, 0, 0, 0.65);
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  position: relative;
  transition: all .3s;
}
.jc-input-group-addon .jc-select {
  margin: -5px -11px;
}
.jc-input-group-addon .jc-select .jc-select-selection {
  background-color: inherit;
  margin: -1px;
  border: 1px solid transparent;
  box-shadow: none;
}
.jc-input-group-addon .jc-select-open .jc-select-selection,
.jc-input-group-addon .jc-select-focused .jc-select-selection {
  color: #1890ff;
}
.jc-input-group-addon > i:only-child:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.jc-input-group > .jc-input:first-child,
.jc-input-group-addon:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.jc-input-group > .jc-input:first-child .jc-select .jc-select-selection,
.jc-input-group-addon:first-child .jc-select .jc-select-selection {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.jc-input-group > .jc-input-affix-wrapper:not(:first-child) .jc-input {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.jc-input-group > .jc-input-affix-wrapper:not(:last-child) .jc-input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.jc-input-group-addon:first-child {
  border-right: 0;
}
.jc-input-group-addon:last-child {
  border-left: 0;
}
.jc-input-group > .jc-input:last-child,
.jc-input-group-addon:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.jc-input-group > .jc-input:last-child .jc-select .jc-select-selection,
.jc-input-group-addon:last-child .jc-select .jc-select-selection {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.jc-input-group-lg .jc-input,
.jc-input-group-lg > .jc-input-group-addon {
  padding: 6px 11px;
  height: 32px;
  font-size: 14px;
}
.jc-input-group-sm .jc-input,
.jc-input-group-sm > .jc-input-group-addon {
  padding: 1px 7px;
  height: 22px;
}
.jc-input-group-lg .jc-select-selection--single {
  height: 32px;
}
.jc-input-group-sm .jc-select-selection--single {
  height: 22px;
}
.jc-input-group .jc-input-affix-wrapper {
  display: table-cell;
  width: 100%;
  float: left;
}
.jc-input-group.jc-input-group-compact {
  display: block;
  zoom: 1;
}
.jc-input-group.jc-input-group-compact:before,
.jc-input-group.jc-input-group-compact:after {
  content: ' ';
  display: table;
}
.jc-input-group.jc-input-group-compact:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.jc-input-group.jc-input-group-compact > * {
  border-radius: 0;
  border-right-width: 0;
  vertical-align: top;
  float: none;
  display: inline-block;
}
.jc-input-group.jc-input-group-compact .jc-input {
  float: none;
  z-index: auto;
}
.jc-input-group.jc-input-group-compact > .jc-select > .jc-select-selection,
.jc-input-group.jc-input-group-compact > .jc-calendar-picker .jc-input,
.jc-input-group.jc-input-group-compact > .jc-select-auto-complete .jc-input,
.jc-input-group.jc-input-group-compact > .jc-cascader-picker .jc-input,
.jc-input-group.jc-input-group-compact > .jc-mention-wrapper .jc-mention-editor,
.jc-input-group.jc-input-group-compact > .jc-time-picker .jc-time-picker-input {
  border-radius: 0;
  border-right-width: 0;
}
.jc-input-group.jc-input-group-compact > *:first-child,
.jc-input-group.jc-input-group-compact > .jc-select:first-child > .jc-select-selection,
.jc-input-group.jc-input-group-compact > .jc-calendar-picker:first-child .jc-input,
.jc-input-group.jc-input-group-compact > .jc-select-auto-complete:first-child .jc-input,
.jc-input-group.jc-input-group-compact > .jc-cascader-picker:first-child .jc-input,
.jc-input-group.jc-input-group-compact > .jc-mention-wrapper:first-child .jc-mention-editor,
.jc-input-group.jc-input-group-compact > .jc-time-picker:first-child .jc-time-picker-input {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.jc-input-group.jc-input-group-compact > *:last-child,
.jc-input-group.jc-input-group-compact > .jc-select:last-child > .jc-select-selection,
.jc-input-group.jc-input-group-compact > .jc-calendar-picker:last-child .jc-input,
.jc-input-group.jc-input-group-compact > .jc-select-auto-complete:last-child .jc-input,
.jc-input-group.jc-input-group-compact > .jc-cascader-picker:last-child .jc-input,
.jc-input-group.jc-input-group-compact > .jc-mention-wrapper:last-child .jc-mention-editor,
.jc-input-group.jc-input-group-compact > .jc-time-picker:last-child .jc-time-picker-input {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right-width: 1px;
}
.jc-input-group-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
.jc-input-affix-wrapper {
  font-family: '\5FAE\8F6F\96C5\9ED1', '\5B8B\4F53', 'tahoma', 'arial';
  font-size: 12px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  width: 100%;
}
.jc-input-affix-wrapper .jc-input {
  z-index: 1;
}
.jc-input-affix-wrapper:hover .jc-input:not(.jc-input-disabled) {
  border-color: #40a9ff;
}
.jc-input-affix-wrapper .jc-input-prefix,
.jc-input-affix-wrapper .jc-input-suffix {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  line-height: 0;
  color: rgba(0, 0, 0, 0.65);
}
.jc-input-affix-wrapper .jc-input-prefix :not(.jcicon),
.jc-input-affix-wrapper .jc-input-suffix :not(.jcicon) {
  line-height: 1.5;
}
.jc-input-affix-wrapper .jc-input-prefix {
  left: 12px;
}
.jc-input-affix-wrapper .jc-input-suffix {
  right: 12px;
}
.jc-input-affix-wrapper .jc-input:not(:first-child) {
  padding-left: 30px;
}
.jc-input-affix-wrapper .jc-input:not(:last-child) {
  padding-right: 30px;
}
.jc-input-affix-wrapper .jc-input {
  min-height: 100%;
}
.jc-input-search-icon {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.45);
}
.jc-input-search:not(.jc-input-search-small) > .jc-input-suffix {
  right: 12px;
}
.jc-input-search > .jc-input-suffix > .jc-input-search-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.jc-input-search > .jc-input-suffix > .jc-input-search-button > .jcicon-search {
  font-size: 14px;
}
.jc-input-search.jc-input-search-enter-button > .jc-input {
  padding-right: 46px;
}
.jc-input-search.jc-input-search-enter-button > .jc-input-suffix {
  right: 0;
}


/*# sourceMappingURL=7-726be5c2dd59195d4295.css.map*/