
@font-face {font-family: "jcicon";
  src: url('iconfont.eot?t=1497620582320'); /* IE9*/
  src: url('iconfont.eot?t=1497620582320#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1497620582320') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1497620582320') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1497620582320#jcicon') format('svg'); /* iOS 4.1- */
}

.jcicon {
  font-family:"jcicon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jcicon-wx:before { content: "\e160a"; }

.jcicon-qq:before { content: "\e161a"; }

.jcicon-new-edit:before { content: "\e1602"; }

.jcicon-new-delete:before { content: "\e1603"; }

.jcicon-new-ad:before { content: "\e1604"; }

.jcicon-new-show:before { content: "\e1605"; }

.jcicon-new-hide:before { content: "\e1606"; }

.jcicon-xxwd:before { content: "\e162c"; }

.jcicon-xxyd:before { content: "\e162d"; }

.jcicon-xiayi:before { content: "\e162e"; }

.jcicon-shangyi:before { content: "\e162f"; }

.jcicon-zhidi:before { content: "\e1630"; }

.jcicon-zhiding:before { content: "\e1631"; }

.jcicon-cgs:before { content: "\e1673"; }

.jcicon-ggcs:before { content: "\e1674"; }

.jcicon-fl:before { content: "\e1675"; }

.jcicon-pp:before { content: "\e1676"; }

.jcicon-xx:before { content: "\e1677"; }

.jcicon-gys:before { content: "\e1678"; }

.jcicon-gysrz4:before { content: "\e167c"; }

.jcicon-gysrz3:before { content: "\e167d"; }

.jcicon-gysrz1:before { content: "\e167e"; }

.jcicon-gysrz2:before { content: "\e167f"; }

.jcicon-spk:before { content: "\e1684"; }

.jcicon-spfb:before { content: "\e1685"; }

.jcicon-xxsp:before { content: "\e1686"; }

.jcicon-ghsqsh:before { content: "\e1687"; }

.jcicon-dd:before { content: "\e1688"; }

.jcicon-cgd:before { content: "\e1689"; }

.jcicon-bjd:before { content: "\e168a"; }

.jcicon-tzgyssx:before { content: "\e168b"; }

.jcicon-pw-show:before { content: "\e169d"; }

.jcicon-pw-hide:before { content: "\e169e"; }

.jcicon-new-tel:before { content: "\e16c1"; }

.jcicon-new-feedback:before { content: "\e16c2"; }

.jcicon-new-service:before { content: "\e16c3"; }

.jcicon-new-rebate:before { content: "\e16d7"; }

.jcicon-new-shop:before { content: "\e16d8"; }

.jcicon-new-transfer:before { content: "\e16d9"; }

.jcicon-new-buyer:before { content: "\e16da"; }

.jcicon-new-cart:before { content: "\e16db"; }

.jcicon-new-gps:before { content: "\e16dc"; }

.jcicon-new-phone:before { content: "\e16dd"; }

.jcicon-new-home:before { content: "\e16de"; }

.jcicon-new-phone2:before { content: "\e16df"; }