.brandBox td {
  text-align: center;
}
.brandText {
  position: absolute;
  text-align: center;
  line-height: 50px;
  width: 471px;
  color: #108ee9;
  border: 1px solid #e9e9e9;
  height: 51px;
  border-top: none;
  top: 118px;
}
.brandText li,
.brandText div div div div div {
  text-align: left;
  padding-top: 0;
}
.brandText li,
.brandText div div div div div ul {
  height: 122%;
}
.brandText div div div div div div {
  text-align: center;
}
.brandText input[type=text] {
  position: absolute;
  top: -68px;
  left: 0;
  width: 116%;
  border-radius: 12px;
}
.brandText i {
  position: absolute;
  top: -62px;
  left: 38px;
}
.brandText button i {
  position: static;
}
.brandTitle {
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  border: 1px solid #e9e9e9;
  background: #f7f7f7;
  width: 471px;
}
.brandTitle li {
  margin: 0;
  float: left;
  width: 234px;
  height: 50px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
}
.brandTitle li:last-child {
  border-left: 1px solid #e9e9e9;
}
.BrandFooter {
  overflow: hidden;
  position: absolute;
  width: 244px;
  top: 4px;
  left: 138px;
}
.brandMask1 {
  position: absolute;
  z-index: 999;
  top: -22px;
  left: 242px;
  width: 248px;
  height: 32px;
  background-color: #fff;
}
.brandMask2 {
  position: absolute;
  top: 241px;
  left: 402px;
  z-index: 999;
  width: 52px;
  height: 32px;
  background-color: #fff;
}
.brandTable {
  margin-top: 50px;
  height: 300px;
  width: 471px;
}
.brandTable div div div:first-child {
  margin: 0 !important;
}

.bindBrandBox .jc-transfer-list-content:empty + .jc-transfer-list-body-not-found{
  display: none;
}

