ul.ant-tree ul{
  position: absolute;
  top:0;
  left: 120px;
}
.ant-tree li{
 /* position: absolute;
  margin-top: 49px;*/
}
.goods-classify-box{
  width: 120px;
  height:400px;
  border: 1px solid #aaa;
  position: absolute;
  top: 0;
  pointer-events: none;
}